[2019-08-09 14:22] kingLotzi opened #5 "Error: Invalid Chai property"
Hi! I've been trying to run the example code, but I'm getting an error

  1) GET /example/request should satisfy swagger.json spec:
     Error: Invalid Chai property: satisfyApiSpecForStatus

Any reason why could be that?

Here is my simple code:

const chai = require('chai');
const expect = chai.expect;
const chaiResponseValidator = require('chai-openapi-response-validator');

chai.use(chaiRespon

[2019-08-09 16:21] rwalle61 commented on #5
Hi, cheers for trying us out!

`expect(res).to.satisfyApiSpecForStatus(200)` is no longer supported - you should use `expect(res).to.have.status(200).and.satisfyApiSpec` instead.

[2019-08-09 16:59] kingLotzi commented on #5
Hi! Thanks for the early response!
Before continuing with the issue, here is the link from where I follow the installation guide and the example:
https://www.chaijs.com/plugins/chai-openapi-response-validator/

In other hand, my code now looks like this:

const chai = require('chai');
const expect = chai.expect;
const chaiResponseValidator = require('chai-openapi-response-validator');

chai.use(ch

[2019-08-10 14:34] rwalle61 commented on #5
Thanks for the link, I'll get Chai's page updated.

Re. your error, I think it's because you've commented out `chai.use(require('chai-http'));`. The `expect(Foo).to.have.status(Bar)` assertion is chai-http's (see https://www.chaijs.com/plugins/chai-http/ for examples). So either require it (by uncommenting that), or don't use `have` by changing your assertion to
[code]

Let me know if that solves

[2019-08-12 10:41] rwalle61 commented on #5
I've updated our docs accordingly: https://github.com/RuntimeTools/chai-openapi-response-validator#1-given-a-test-file

[2019-08-12 12:14] kingLotzi commented on #5
Excellent! The problem was solved so i will close this thread.

Just FYI i'll like to suggest you some updates regarding the path of the endpoint, almost always, this path isn't static (it may change some variables) and for that it may not find it in the swagger/openapi file.
I don't know if you have think about that but maybe you can keep it in mind for future updates.

Despite that, the library

[2019-08-12 19:06] #5 closed

[2019-08-12 19:12] kingLotzi opened #8 "Can't resolve reference #/definitions/inline_response_200_options"
Hi, sorry to bother you again, but i'm really interested in your library!

Here is my new error:
Uncaught AssertionError: expected res to satisfy API spec:
{ message: 'The response was not valid.',
  errors:
   [ { path: 'options[0]',
       errorCode: '$ref.openapi.responseValidation',
       message: 'options[0] can\'t resolve reference #/definitions/inline_response_200_options' }

Here's my swa

[2019-08-13 18:36] rwalle61 commented on #8
Hiya, no worries!

You've written the assertion correctly, and I can't tell from here what exactly the problem is. Would you mind pasting your entire swagger.json and test file here, so I can recreate it?

(and please format it using `, e.g.
[code]
)

[2019-08-13 18:39] rwalle61 commented on #5
Glad I could help.

Thanks for the tip about the path. Do you have an example of when the path changes? I may use those as test cases for a new update.

[2019-08-13 18:59] kingLotzi commented on #8
Hi, thanks again!
Unfortunately I can't paste the entire swagger for security but I can re-paste the previous one so you can see it better
{
`"paths" : {
    "/products/SNC/options" : {
      "get" : {
        "tags" : [ "owner_dx" ],
        "description" : "Get products options of SNC product",
        "operationId" : "get_snc_products_options",
        "parameters" : [ ],
        "responses" :

[2019-08-14 17:38] rwalle61 commented on #8
Ok - I'll do my best. I'm trying to recreate your scenario.

In the meantime, is your `swagger.json` OpenAPI 2 or 3? I presume 2, as you're using `definitions` rather than `components`. I'm pretty sure we're compatible with OpenAPI 2, but I'll test it.

(For reference, https://blog.readme.io/an-example-filled-guide-to-swagger-3-2/ shows the difference.
![image](https://user-images.githubuserconten

[2019-08-14 17:51] kingLotzi commented on #8
Hi! Thanks for the trying!
You are right, it's OpenAPI 2, I'm familiar with the difference between 2 and 3 but for now we can't migrate, so I'm struggling with this.

Hope to hear from you soon! Thanks again.

[2019-08-14 18:17] rwalle61 commented on #8
Ok when I converted my working OpenAPI 3 to OpenAPI 2, I got the same error as you.

I'm going to double check, but I think the cause of this problem is with our dependency https://github.com/kogosoftwarellc/open-api/tree/master/packages/openapi-response-validator.

Several PR's have been merged in their sister packages (e.g. openapi-request-validator) after people reported problems with `$ref` sc

[2019-08-14 18:24] kingLotzi commented on #8
Alright! I'll investigate a little and if I find something useful I'll reach you with the solution.

Hopefully this will be a simple solution, but let's wait.

Thanks a lot for all the help, let's keep in touch with the advances.

Sorry for the bother!

[2019-08-15 11:27] rwalle61 commented on #8
Fyi I think I've found a fix, just testing now

[2019-08-15 15:53] #8 closed

[2019-08-15 16:09] rwalle61 commented on #8
Hi @kingLotzi , I've published the bug fix. Would you mind running `npm i` and checking if the problem persists? If so, feel free to reopen this

[2019-08-15 16:15] rwalle61 commented on #8
The bug was mine. I was too quick to suspect that it was with our dependency! I thought it likely to be them because we don't actually have much code - we just wrap them so that people can use them in chai.

But I saw that they have tests proving that they work in this OpenAPI 2 scenario. Then I noticed that our code was feeding them `components` rather than `definitions`. Tweaking that fixed the

[2019-08-15 16:50] kingLotzi commented on #8
Thanks for all! I'm gonna try it tomorrow and give you the (hopefully) final feedback!

Awesome work, thanks for all.

[2019-09-17 13:02] jschirrmacher opened #17 "Validator doesn't respect server paths"
**Describe the bug**
The Validator ignores paths specified in the OAS3 `servers` section.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a OAS3 file like:
[code]
2. Use it as the specification for a test.
3. Let the test check `GET /api/monitors`

Currently, I get an error `Error: No '/api/monitors' path defined in OpenAPI spec`.

**Expected behavior**
The test should work.

[2019-09-23 19:29] rwalle61 commented on #17
Thanks for raising this! Apologies for the delayed reply.

I believe the fix is to add to the function at https://github.com/RuntimeTools/chai-openapi-response-validator/blob/master/lib/resValidator.js#L113, which tries to match the `res.req.path` to `paths` in the Open API spec. I would write a new function and call it from there. The new function would, for each `path`, combine each `servers` ur

[2019-09-30 16:36] JonnySpruce commented on #17
I'm happy to pick this one up. I'll aim to get a PR done in the next couple of days.

[2019-10-03 12:57] JonnySpruce commented on #17
So I've done the required work to do this in OpenAPI 3, however we need to consider how this would work for OpenAPI 2, since multiple servers are not supported. Our tests currently try to test both OpenAPI 3 & 2 docs in the same way so we need to think about how this would work with the servers included.

[2019-10-09 09:18] IvanStawski opened #18 "Validator doesn't resolve refs for a whole response"
**Steps to reproduce:**

1. Take an OAS3 file like:
[code]

2. Use it as the specification for a test
3. Let the test check POST /api/feature with response "404"

Actual result:
[code]

[2019-10-11 14:58] rwalle61 commented on #17
Thanks Jonny, and that's a good point. I think supporting a single server would solve this issue, and we could still test OA2 and 3 in the same way. I agree we should in future support multiple servers, and in general decouple tests for OA2 and 3, because they have slightly different function. Could raise an issue for that

If you agree and want to raise a PR supporting a single server, I can revi

[2019-10-13 13:56] JonnySpruce commented on #17
I've now raised a PR to resolve this issue and add testing for it: https://github.com/RuntimeTools/chai-openapi-response-validator/pull/19

[2019-10-18 08:52] rwalle61 commented on #18
@JonnySpruce I thought we didn't handle `servers` like this? (and https://github.com/RuntimeTools/chai-openapi-response-validator/pull/19 will add that support).

In any case, @IvanStawski we shall recreate and investigate

[2019-10-25 11:18] IvanStawski commented on #18
@rwalle61 I'm think that the problem not in `servers` like this. I suppose that the issue
`responses:
        "400":
          $ref: '#/components/responses/InvalidRequest'`

[2019-10-29 11:20] IvanStawski commented on #18
Maybe we should update library `openapi-response-validator` to the latest version?

[2019-11-08 08:50] rwalle61 commented on #18
@IvanStawski I just realised - what is in `'#/components/responses/InvalidRequest'`? If you have not specified any content in `InvalidRequest`, then (I believe) you are effectively specifying that the `400` response should have no body (`null`). This package would then be *correctly* saying that `response should be null` but is in fact some object.

I have personally been caught out by this before

[2019-11-08 08:53] rwalle61 commented on #18
If that's really the cause, then and you agree this is expected behaviour (not a bug) then please close the issue.

Alternatively, suggest an enhancement for us to discuss and pick up :)

[2019-11-08 15:42] rwalle61 commented on #17
Great work @JonnySpruce! @jschirrmacher could you please verify if this has fixed your problem, and close if so?

[2019-11-11 14:23] rwalle61 commented on #17
fyi `0.2.5` handles relative `server` paths (in OpenAPI 3 specs) such as `/api`. But it's a further piece of work to handle more variants, such as those listed here https://swagger.io/docs/specification/api-host-and-base-path/

[2019-11-12 12:59] jschirrmacher commented on #17
Yes, this works for me, thanks!

[2019-11-12 12:59] #17 closed

[2019-11-12 17:26] kgehmlich commented on #18
@rwalle61 I just ran into the same problem. Pasting my OAS 3 and JS test files here (some names have been changed for security reasons):

**OpenAPI:**
[code]

**test-api.js**
[code]

[2019-11-12 17:33] kgehmlich commented on #18
I just tried in-lining the `$ref` and that didn't help. I had to make the `401` response look like the following for the validation to pass:
[code]

Note that adding these fields to the `$ref`ed response generates the error mentioned above.

[2019-11-17 20:34] rwalle61 commented on #18
Thanks @kgehmlich, I will recreate and investigate whether the fix needs to be made in our package or openapi-response-validator

[2019-11-21 19:56] rwalle61 commented on #18
Fyi on my local branch, a change in our package seems to fix this problem, at least for OpenAPI 3 files.  I'll PR it as soon as it's properly ready.

**Explanation**

Currently [we're passing `openapi-response-validator` an `expectedResponse`](https://github.com/RuntimeTools/chai-openapi-response-validator/blob/master/lib/index.js#L107). (which is an object e.g. `{ '$ref': '#/components/responses/

[2019-11-21 20:45] rwalle61 commented on #18
@IvanStawski @kgehmlich would you like to review before or after I publish?

[2019-11-30 19:01] #18 closed

[2019-12-01 11:19] rwalle61 commented on #18
I've just published the fix in `0.4.0` - please verify, and reopen if needed :)

[2019-12-02 09:32] IvanStawski commented on #18
@rwalle61 Thank you. Seems working fine for me.

[2019-12-02 14:37] james-wallis opened #29 "API test not passing when res.send('some text') is used"
**OpenAPI version**
3

**Describe the bug**
Testing an express application.
I have an endpoint which uses `res.send()` to  send a `404` and an error message back to the client. The API spec I have created specifies that the response should be `text/html` but the test is failing. I've also tried `text/plain` but the test also fails.

If I change the endpoint to use `res.json()` and the response typ

[2019-12-04 18:19] rwalle61 commented on #29
At first glance I agree this is a bug with us. The [Express docs for `res.send`](https://expressjs.com/en/api.html#res.send) say that >When the parameter is a String, the method sets the Content-Type to “text/html”

I'm a bit busy until xmas but anyone is welcome to submit a PR

[2019-12-13 17:28] GSDTN opened #30 "No server matching '${pathname}' path defined in OpenAPI spec"
I am currently using an axios response for the request:
[code]
When I run `expect(res).to.satisfyApiSpec`; I get the error `No server matching path as defined in Open API Spec.`

The reason appears to be that the axios `req.path` does not include the host portion, only the URL portion, and since it is comparing against host portions in the server list it fails and the whole test fails to move on.

[2019-12-13 17:33] GSDTN opened #31 "Ability to define API Specs as URL instead of path"
**OpenAPI version**
3

I have my API Specs on an AWS S3 bucket.  As the specs are updates, they are pushed to the bucket.  I would like to have automated testing that compares the API responses to the API Specs.
It would be great if I could pass in the URL of the Spec instead of having to pass in file location.

My current approach is to download the spec and write it to file first and then pass i

[2019-12-13 17:38] GSDTN commented on #17
I just saw this now after creating my issue.  I would suggest that the servers as defined in the example above are not servers, but rather paths or base paths.  Servers for the purpose of the spec include protocol, host and domain e.g. https://myapi.mycompany.com.
It is possible that this fix - is what is breaking my tests.
If a full server value is put in, it allows tools such as SwaggerHub to ha

[2019-12-15 20:19] rwalle61 commented on #31
Great idea, sounds like a good improvement for a simple code change.

I may have time next week, or am happy to review a PR that you/someone submit :)

[2019-12-15 20:21] rwalle61 commented on #31
Probably the most complicated thing about this is whether the request to a URL will be async, and if so how best to manage it

[2019-12-15 20:48] rwalle61 commented on #30
Thanks for raising this, I agree with the need to support servers in the form of https://myapi.mycompany.com.

I actually started a branch to do this after resolving https://github.com/RuntimeTools/chai-openapi-response-validator/issues/17, but got sidetracked as no one was asking for it. Now that you (and presumably others) want it, I can look at this again.

I'll take https://github.com/RuntimeT

[2019-12-15 20:49] rwalle61 commented on #17
Thanks @GSDTN, will take that into account in https://github.com/RuntimeTools/chai-openapi-response-validator/issues/30

[2019-12-16 14:13] GSDTN commented on #30
In many cases, I think the server list will contain one or more servers.  In our case, we provide both a production and a test server.  From the generated docs, than Try Out and Execute go against the selected server.
The other challenge here, is that the request.path does not include the server portion, only the URL portion.
From the previous ticket, it appears that the problem was that a 'base'

[2019-12-16 18:35] rwalle61 commented on #30
@GSDTN thanks for looking. I haven't had chance to do much investigation yet.

I did (hopefully) add windows support for you https://github.com/RuntimeTools/chai-openapi-response-validator/pull/32. Would you mind pulling that branch and letting me know on that PR if it works?

[2019-12-16 23:12] GSDTN commented on #30
Thanks @rwalle61 – I was able to install the support-windows branch and run setup.test.js, definedServerPath.test.js and differentRequetModules.test.js
However, I could not execute satisfyApiSpec.test.js – not sure why, could be my IDE setup

Changing to directory test/unit/assertions and running > mocha satisfyApiSpec.test.js caused some errors because it could not resolve the 2 openapi files.

G

[2019-12-17 09:21] rwalle61 commented on #30
okay, I have migrated discussion about windows support to https://github.com/RuntimeTools/chai-openapi-response-validator/pull/32

[2019-12-17 15:01] rwalle61 commented on #30
@GSDTN can I see an example of the `servers` object in your OpenAPI spec? I will make sure we support your use case.

[2019-12-17 17:40] rwalle61 commented on #30
I have the code ready for various extra use cases. However, we need to decide what we should do in the 4 following cases, when the `servers` object is:

1:
[code]

2:
[code]

3:
[code]

or 4:
[code]

**In these 4 cases, should a `res.req.path` of `/basePath` match any servers?**

For case 1, [yes a `res.req.path` of `/basePath` does match a server - the default server '/'](https://swagger.io/docs/

[2019-12-17 17:48] rwalle61 commented on #30
I think if you don't specify a basepath (cases 1 and 2), we should assume you want to match `/`. If you do specify a basepath that does not include `/` (cases 3 and 4), we should assume you do not want to match `/`.

[2019-12-17 18:02] GSDTN commented on #30
I suggest for matching purposes that the server portion (protocol://host.domain:port) be stripped out and only the base path portion be retained for matching.
Assume a paths:
paths:
    /myresource
    /anotherresource

Assume a request of /myresource
http://api.example.com – becomes empty space that gets prepended to the paths array values for matching – resulting in array of /myresource and /ano

[2019-12-17 18:19] rwalle61 commented on #30
Okay I will raise a PR today/tomorrow hopefully fulfilling that

[2019-12-17 22:50] GSDTN commented on #30
I would like to add this:

This code here is causing some problems and related to the server list.
[code]

When I debug, the   `const pathname = url.parse(actualRequest.path).pathname` provides only the path portion - the server is already removed, so there is no need for the line to removeServerURLFromPath
`const pathnameWithoutServerUrl = removeServerURLFromPath(pathname, serverUrl);`

This line

[2019-12-18 10:00] rwalle61 commented on #30
Thanks @GSDTN, I added a commit to https://github.com/RuntimeTools/chai-openapi-response-validator/pull/33 that hopefully resolves this issue.

The code in your above comment seems to be from the published version (0.4.0), which has since been refactored in master. Nevertheless, your point stands and hopefully https://github.com/RuntimeTools/chai-openapi-response-validator/pull/33/commits/07cf5fc6

[2019-12-18 11:26] rwalle61 commented on #31
Correct me if I'm wrong, but I think the simplest way to automatically "download the spec and write it to file first and then pass in the path" is to add, to your existing code, something like:
[code]

Alternatively, you could make an async request using a `before` block:
[code]

With that in mind, I see 3 options:
1. Implement this using a package that can make *sync* requests (e.g. [sync-request

[2019-12-18 13:41] GSDTN commented on #31
That is pretty much what I am doing at the moment, although I was simply using await axios.get instead of syncRequest.

From: Richard Waller <notifications@github.com>
Sent: Wednesday, December 18, 2019 5:26 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-validator@noreply.github.com>
Cc: Gary Sole <Gary.Sole@dtn.com>; Author <author@noreply.github.com>
Subject: Re: [Run

[2019-12-18 14:23] GSDTN commented on #30
The removal of the / is currently breaking my tests and I don’t have a good way around that.
I need to add the / to the server list to get past the server check, but than the code below that removes the slash tries to compare my spec path of /weather/hourly-observation to weather/hourly-observation -which does not work.

I guest I have to wait until you have the fix for handling the full protocol:

[2019-12-18 14:51] rwalle61 commented on #29
To clarify, it looks like the server code resembles
[code]
and the test code resembles
[code]

In that case, `res` has header `text/html`, body `{}`, text `'http://something...does not exist'`.

I will add the test cases and resolve this

[2019-12-18 14:56] rwalle61 commented on #30
I'm confused, `removeServerURLFromPath` is old code. PR #33 should resolve the problem you describe. To test it, do you need me to release, or can you pull the PR branch?

Also, if the PR does not resolve your problem, could you point out how the OpenAPI specs in that PR differ from yours please?

[2019-12-18 14:59] GSDTN commented on #30
Right now, I have a set of tests that is pulling the release master branch with my package.json have devDependencies including "chai-openapi-response-validator": "^0.4.0",
How would I update that to pull PR #33?

From: Richard Waller <notifications@github.com>
Sent: Wednesday, December 18, 2019 8:56 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-validator@noreply.github

[2019-12-18 15:13] GSDTN commented on #30
I have tried
npm install chai-openapi-response-validator#pull/33/head
npm install RuntimeTools/chai-openapi-response-validator#pull/33/head
npm install rwalle61/chai-openapi-response-validator#pull/33/head

But they all fail.

From: Richard Waller <notifications@github.com>
Sent: Wednesday, December 18, 2019 8:56 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-validator@

[2019-12-18 15:19] GSDTN commented on #30
Nevermind – I figured out how to pull the pull request locally and than install the local.  That will work temporarily while I validate that it works.

From: Richard Waller <notifications@github.com>
Sent: Wednesday, December 18, 2019 8:56 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-validator@noreply.github.com>
Cc: Gary Sole <Gary.Sole@dtn.com>; Mention <mention@nor

[2019-12-18 16:00] GSDTN commented on #30
So using PR #33 is working without any of my work arounds.

Thanks
From: Richard Waller <notifications@github.com>
Sent: Wednesday, December 18, 2019 8:56 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-validator@noreply.github.com>
Cc: Gary Sole <Gary.Sole@dtn.com>; Mention <mention@noreply.github.com>
Subject: Re: [RuntimeTools/chai-openapi-response-validator] No serve

[2019-12-19 11:50] rwalle61 commented on #30
Awesome, I have merged #33 and released this under [0.5.0](https://github.com/RuntimeTools/chai-openapi-response-validator/releases/tag/0.5.0).

Thank you for your comments; your feedback helped improve this package for everybody :)

Please reopen if the released version does not work as intended

[2019-12-19 11:50] #30 closed

[2019-12-19 13:54] #29 closed

[2019-12-19 14:09] rwalle61 commented on #31
Okay. Of the 3 ways I've listed above to resolve this issue, I think 1 is best, 3 okay, and 2 very bad for users.

So I'm happy to look at implementing 1

[2019-12-19 14:22] GSDTN commented on #31
Another option is to not write to a file at all.  At one point I did some work around and edits to the code to fix my issue.  I made an sync axios.get to get the spec content and passed the content into chaiResponseValidator.  Than I did the following in this function:
[code]
Noting that at this point, the filePath is actually the response.data from an axios.get.

[2019-12-20 18:49] rwalle61 commented on #31
Cool, so that's the behaviour we're aiming for. I agree that if we do option 1 we don't need to write out the file itself.

[2019-12-20 20:25] rwalle61 commented on #31
I am having trouble making sync calls with sync-request or syncrequest.

When you say

Is your `axios.get` sync or async? I thought axios could only do async. If you can make a sync call, can you post an example here?

[2019-12-21 13:20] rwalle61 commented on #31
Re my trouble making sync calls: for some reason both [sync-request](https://www.npmjs.com/package/sync-request) and [syncrequest](https://www.npmjs.com/package/syncrequest) hang when I try to make a sync call. This may be because they spawn separate processes to make the async call sync. I don't know enough about that to get it working.

The only other alternative is [http-sync](https://www.npmjs

[2019-12-21 14:12] rwalle61 commented on #31
@GSDTN sorry I missed what you meant about

Would you be happy if you could do:
[code]
?

i.e. users wanting this feature will still have to get the openapi data themselves, but will not have to write out to a file.

[2019-12-21 15:21] rwalle61 opened #38 "User can validate objects against individual schema objects"
**OpenAPI version**
all

**Is your feature request related to a problem? Please describe.**
Validating the whole response is great in my API tests. But in my *unit* tests I'd like to be able to validate objects against individual schema objects

**Describe the solution you'd like**
given an API spec including:
[code]
Be able to do
[code]
And to be able to do this with more complex schema objects t

[2019-12-22 16:27] rwalle61 commented on #31
I have published the ability to define API specs as objects under 0.6.0. https://github.com/RuntimeTools/chai-openapi-response-validator/releases/tag/0.6.0

Until we are able to make sync requests, I think we should leave this feature (ability to define API specs as URLs) for now

[2019-12-27 15:29] rwalle61 commented on #38
#42 should support this entirely.

Fyi:
* [OpenAPI 3 docs on schema objects](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object).
* this can find schemas defined in the [component object of an OpenAPI 3 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#components-object) or [definitions object of an OpenAPI 2 spec](https://github

[2019-12-27 15:40] #38 closed

[2019-12-27 15:41] rwalle61 commented on #31
Reopen if anyone has further thoughts :)

[2019-12-27 15:41] #31 closed

[2019-12-28 12:51] rolfisub opened #44 "method to set new specs file when needed"
**OpenAPI version**
2 and 3

**Is your feature request related to a problem? Please describe.**
No, but it would be nice to be able to test one OpenAPI file after another on a single test run. Currently, the only workaround would be to call mocha per test file, so that the chai plugins gets reset for each run.

**Describe the solution you'd like**
It would be nice to have a method to set the new f

[2019-12-28 12:58] rolfisub commented on #44
actually, by installing the plugin on a `before` call with mocha it solves the issue

[2019-12-28 13:08] rolfisub commented on #44
actually you can use `before`  and the first test will run as normal, but now the second test will be checked against service1 and fail. so I guess this request could still be valid?

[2019-12-28 16:31] rwalle61 commented on #44
Thanks for raising this!

I haven’t had chance to look at this properly, but your mention of `before` reminds me of a (maybe) similar problem I ran in to while trying to test the assertions. Does loading the API specs like in `satisfyApiSpec.test.js` solve this?

If not, please post an example test file (especially how you do `chai.use(chaiResValidator(pathToApiSpec))` and I’ll recreate this when

[2019-12-28 16:39] rwalle61 commented on #44
Also happy to review a PR

[2019-12-30 15:44] dalogax opened #45 "Support for schema in multiple files"
I'am having trouble with my schema that is separated in more than one file because is too large.
The error is:
`Uncaught AssertionError: expected res to satisfy API spec:
{ message: 'The response was not valid.',
  errors:
   [ { path: 'xmedia[0]',
       errorCode: '$ref.openapi.responseValidation',
       message:
        'Pet[0] can\'t resolve reference ./schemas/common/Pet.yml' },`
And my file

[2019-12-31 10:17] rolfisub commented on #44
Hi @rwalle61 seems this was a false alarm if you use `mocha.before` or `mocha.beforeEach` to install the plugin with a new schema file it works for the corresponding tests.

[2019-12-31 10:17] #44 closed

[2019-12-31 12:26] rwalle61 commented on #45
Hi @dalogax, thanks for raising this. We do not currently support this feature, but it is a legitimate use case so I'm happy for you/me/someone to implement this!

### Initial thoughts on how one might do this:
Currently, we assume that the OpenAPI spec file the user loads contains the schemas as well. Thus we access schemas by simply calling [`this.spec.definitions` for OpenAPI 2 specs](https://g

[2020-01-01 10:36] rolfisub opened #46 "using additionalProperties: false does not considers merged schemas"
**OpenAPI version**
3

**Describe the bug**
When you use `additionalProperties: false` on a merged schema, it considers only the object where this statement is placed, not the resulting merged schema.

**To Reproduce**
given the following example spec
[code]

when you call the endpoint `/test` and you receive the following data:
[code]
validating the response:
[code]
Throws the following error:
[c

[2020-01-01 19:35] rolfisub commented on #46
It would also be useful if the error would say which property is being detected as additional, but I guess that would be more of a feature request

[2020-01-01 19:35] rolfisub commented on #46
happy new year! :-)

[2020-01-01 20:00] rwalle61 commented on #46
Happy new year! Thanks for raising this.

I don't have much time this week but here are my initial thoughts:

Presumably the bug is in the code that validates schemas merging `allOf` several schemas. (And somehow the bug is triggered when one of the schemas has `additionalProperties`, which prevents the merging logic from merging the schemas together).

The validation code is in this dependency ([

[2020-01-04 09:39] rolfisub commented on #46
Ok make sense that the issue is in that dependency. I don't know when I will have the time to submit a test case but I'll try not to keep it linger for too long.  Thanks for the feedback :-)

[2020-01-05 17:11] rwalle61 commented on #46
Hey @rolfisub I recreated the bug in openapi-response-validator, and raised a bug there with some thoughts in https://github.com/kogosoftwarellc/open-api/issues/609. It looks like the bug is 2 dependency levels down (in AJV), so might take more time than I have available right now.

[2020-01-05 17:28] rwalle61 commented on #46
fyi I also recreated this bug in our repo, then made a template to simplify reporting bugs in future :) https://github.com/RuntimeTools/chai-openapi-response-validator/pull/47

[2020-01-05 21:23] rwalle61 commented on #45
Fyi I realised that using multiple openapi files is a common practice, and so someone must have made a tool to combine them already. I found 3 that might help:
- `json-refs` (see https://azimi.me/2015/07/16/split-swagger-into-smaller-files.html and https://github.com/whitlockjc/json-refs/blob/master/docs/API.md#module_json-refs.resolveRefs)
- [`json-schema-ref-parser`](https://github.com/APIDevToo

[2020-01-13 19:25] GSDTN commented on #31
I have been on vacation the last 3 weeks.  I think your approach below would work fine.

What I meant was that you could have the content – as you have below and directly feed it into the validator without the need to write to file.

From: Richard Waller <notifications@github.com>
Sent: Saturday, December 21, 2019 8:13 AM
To: RuntimeTools/chai-openapi-response-validator <chai-openapi-response-vali

[2020-02-14 22:51] GSDTN opened #48 "Ability to pass Spec as Object does not appear to work for Yaml files"
**OpenAPI version**
3

**Describe the bug**
I have a spec that works if I pull it down, write it to a file and then pass that file path into chaiResponseValidator(specPath).
After pulling down 0.7.0 - I was expecting that the feature in 0.6.0 to just do an HTTP get and pass the data portion of the response in would work.
However, it appears that the code is inspecting  the input and looking for an

[2020-02-15 10:44] rwalle61 commented on #48
Thanks for raising this and investigating the cause. I think you're right - if it sees a string input, it assumes it is a path. I did not anticipate that when axios fetches a yaml file, `response.data` could be a string rather than an object.

Presumably if you parse the yaml string as an object (e.g.g
[code]
Then this works?

If so, then it should be fairly simple for me/you/someone to integrate

[2020-02-17 20:04] GSDTN commented on #48
Using yaml.safeLoad(spec) works.

I may have some Windows based character line feed issues so I have the following you could add:
Or just let me know if you would like me to commit into a new branch.

openApiSpecFactory.js
…
function loadSpec(arg) {
  const argType = typeOf(arg);
  try {
    if (argType === 'string') {
      //If the length of the string is less than 260 characters (the maximum pa

[2020-02-19 15:14] rwalle61 commented on #48
Cool, yea I'm very happy to review a PR and merge, if you'd like to raise one.

The tests are already at 100% coverage and mutation score (do `npm run test:full`) so it'd be great if you can maintain that, should be straightforward as you're only adding a few lines

Also just to confirm - I assume because you added this test
[code]
that axios returns yaml files as that kind of string? Maybe clarif

[2020-02-21 17:50] AlexDobeck opened #49 "Falsey body values are incorrectly failing validation"
**OpenAPI version**
OpenApi 2 and OpenApi 3

**Describe the bug**
'false' response bodies are failing validation in OpenApi 2 and OpenApi 3.
nullable responses bodies are failing validation in OpenApi 3

**To Reproduce**
Steps to reproduce boolean failure:
1. Create a spec with a boolean body response (OpenApi2/OpenApi3)
2. Attempt to validate a 'false' response
3. Notice the validation fails

Ste

[2020-02-21 17:57] AlexDobeck commented on #49
I have submitted a PR I believe will resolve this issue:
https://github.com/RuntimeTools/chai-openapi-response-validator/pull/50

[2020-02-21 18:23] rwalle61 commented on #49
Released, I'll let you close

[2020-02-21 18:31] AlexDobeck commented on #49
Excellent, thanks for the fast turn-around.

[2020-02-21 18:31] #49 closed

[2020-03-03 20:52] barrett-schonefeld opened #52 "Fix Code of Conduct and Contributing Guide links at the bottom of the README"
### Mission:

update the `Code of Conduct` and `Contributing Guide` links at the bottom of the README.

[2020-03-03 21:06] rwalle61 commented on #52
Thanks for the spot, would you like to submit a PR? Should be really easy

[2020-03-11 14:33] kgehmlich commented on #18
Finally got around to testing this again, works well with the new changes. Thanks @rwalle61 !

[2020-03-11 16:29] #52 closed

[2020-03-18 16:19] martnst opened #54 "Empty response body validation fails (null vs. empty string)"
**OpenAPI version**
3

**Describe the bug**
Validation fails on 204 response, which has empty string as body.

We are using [axios](https://github.com/axios/axios) for making the requests.

**Expected behavior**
Test should pass with falsy body.

**Additional context**

OpenAPI Spec:
[code]

Test Logs:
[code]

[2020-03-18 22:07] rwalle61 commented on #54
Thanks for raising this, I’m on my phone but will look in more depth as soon as I can (next few days).

My first thoughts are:

Arguably, 204 should return no content, not even '', so we are validating correctly. However, if axios (and other request packages) is returning '' even when the server is set up correctly, then I agree it makes sense for us to treat '' as null in 204 cases.

So I would p

[2020-03-26 18:50] blelump opened #55 "Support for OAS3 Example Object"
**OpenAPI version**
3

**Is your feature request related to a problem? Please describe.**
No, it is an overall improvement leading to almost no code for testing happy path scenarios.

**Describe the solution you'd like**
Since OAS3 supports example objects\[1\], are there any objections or difficulties against using them and simply running all the specs from OAS with the payload from OAS? Thanks t

[2020-03-26 20:36] rwalle61 commented on #55
Thanks for raising this.

So if I understand you correctly, you’d like to able to write (e.g.) `expect(app).to.satisfyExamplesInApiSpec` to test that your server satisfies all response specs defined in your OpenAPI spec?

Are you trying to test your server, and/or test that you’ve correctly defined your examples in the OpenAPI spec?

My initial thoughts are that this functionality could be nice.

[2020-03-27 09:07] blelump commented on #55
Hi @rwalle61 , thanks for answering!

So my thoughts regarding this were to be able to cover OAS defined endpoints for the happy path use cases. OAS helps you with definition of some sample data, which can be used for simple tests. So such test, ie. for `POST /tickets` with sample data should return with 20x code thanks to this sample data defined in example object.

Besides Dredd, there is also h

[2020-04-01 19:36] hrina opened #56 "No validation when incorrect type is of allowed types"
**OpenAPI version**
2

**Describe the bug**
when changing the type from array to string no error is shown. but for example if I use an incorrect value e.g. String then it throws a validation that the expected type is Array.
Like wise even If I changing other values in the swagger e.g. string to boolean does not throw any validation.

Also I wanted to validate the response schema against the schema

[2020-04-01 22:26] hrina commented on #56
My bad some issue in my schema

[2020-04-01 22:26] #56 closed

[2020-04-01 22:47] rwalle61 commented on #56
Feel free to reopen if you have any further issues or questions :)

Would you mind clarifying what you mean about this?

There is an example in the README of how to use `expect(obj).to.satisfySchemaInApiSpec`. That’s meant for validating objects against schema definitions, so maybe not suitable for what you want (“validate the response schema against the schema definition in the swagger”)

Could y

[2020-04-02 00:44] hrina commented on #56
Thanks, it is working perfectly fine now. There was a issue in my schema e.g.in schema FoodDetails , there is an object foodDetails  but in response it was returning as foodDetailsList. since there was no required properties listed, any negative scenario that I tried by messing around with the properties of foodDetails  did not result into any validation error.  Just out of curiosity if additional

[2020-04-02 10:13] blelump opened #57 "Lack of support for nested routes of the same resource"
**OpenAPI version**
3

**Describe the bug**
Lack of support for routes like:
[code]

**To Reproduce**
Prepare spec for ie:
[code]
and try to `satisfyApiSpec` against `/resource/new` route.

**Current behavior**
For `/resource/new` route it matches `/resource/:id` and spec fails.

**Expected behavior**
If `/resource/new` is being tested, it matches `/resource/new` in the spec.
If `/resource/:id` is

[2020-04-03 09:41] rwalle61 commented on #57
Good spot! I agree that this is a genuine bug, and that the bug is in that matching logic.

The desired behaviour from that logic:
`/new` should match `/new` if we have a `/new` in our OpenAPI spec. If there isn't a `/new` in our OpenAPI spec, then it can try to match `/{id}`.

Current behaviour of that logic:
`/new` matches both `/new` and `/:id`, and we choose one of them (the first or the last,

[2020-04-03 10:14] rwalle61 commented on #57
I've created a branch with new tests that expose this bug, see the diff https://github.com/RuntimeTools/chai-openapi-response-validator/compare/57-match-path-without-params-over-path-with-params?expand=1

Are we agreed the new tests capture the bug?

If so, feel free to PR a fix that satisfies those tests :)

[2020-04-03 19:47] rwalle61 commented on #54
I have looked at what each request module returns if in Express you do `res.sendStatus(204)`. I agree this is a bug, and I have a fix. Just tidying it now

[2020-04-04 10:00] rwalle61 commented on #57
Thanks for looking into this. I prefer the second approach (filter) because it makes nice conceptual sense: find all matching paths, and if there are multiple matches then choose the path that matches directly over the path that matches using a path parameter.

I think filter would work for that.

Do we have to consider efficiency? If so, instead of iterating over all paths (as filter would do) we

[2020-04-04 11:07] rwalle61 commented on #54
PR is up https://github.com/RuntimeTools/chai-openapi-response-validator/pull/59

Would you like to pull that branch and try it out, or shall I just do an npm release?

[2020-04-04 18:14] nya1 opened #61 "TypeScript definition"
Hello,
I would like to use this module in my typescript project but currently is missing the extended chai methods such as `satisfySchemaInApiSpec`, it would be nice to have the typescript definition

[2020-04-04 21:59] rwalle61 commented on #61
Thanks for raising this! I have wanted to support Typescript features for a while but not had time to implement it, especially as I’m fairly new to Typescript.

To clarify:
* are you unable to use this module at all in your Typescript project, because we are missing some type definitions?
* What is the minimum change needed for this module to work in your project?
* what are the Typescript changes

[2020-04-05 09:34] nya1 commented on #61
I'm able to use this module but I need some workarounds to not have type errors

Yes I think is the only thing needed to make it work properly

Other examples are:

- https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/chai-fuzzy
- https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/chai-uuid
- https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/c

[2020-04-05 10:56] rwalle61 commented on #61
Glad you can still run this module, albeit with some workarounds.

Thanks for the examples, sounds like a good change.

I'm currently fixing another bug (issue 54) but when I have time I will look into this. Happy to take a PR earlier if you fancy it

[2020-04-06 09:12] martnst commented on #54
Hi @rwalle61, thanks for the fix. I tested it with our tests and works.

[2020-04-06 14:32] #54 closed

[2020-04-07 11:12] rwalle61 commented on #61
@nya1 would you like to pull that branch to check it solves your issue?

[2020-04-08 08:38] nya1 commented on #61
I'll give a try this weekend, it looks good, maybe I think the return type `Assertion` can be replaced with `void` because in your JS code you cannot chain other chai methods to satisfyApiSpec & satisfySchemaInApiSpec methods

[2020-04-08 16:52] rwalle61 commented on #61
Thanks!

Re chaining other chai methods, I seem to be able to - these are hitting the `foo` assertions
[code]
(Not that I would recommend chaining like this)

[2020-04-13 11:34] rwalle61 commented on #61
Thanks for checking the Declaration File works. I've released it in 0.8.0 so feel free to close this when you're happy.

0.8.0 also makes the assertion failure messages much more informative, so any feedback (especially problems) with that will be appreciated!

[2020-04-15 09:21] #61 closed

[2020-05-14 16:32] BenGu3 opened #73 "Missing module declaration in jest-openapi types"
**OpenAPI version**
2 and 3

**Describe the bug**
When importing jest-openapi with Typescript, it gives the following error:
`File '/sandbox/node_modules/jest-openapi/index.d.ts' is not a module`.
This causes a TS error in the import and also does not add `toSatisfyApiSpec` or `toSatisfySchemaInApiSpec` to the jest Matchers type, giving another TS error when using those matchers in tests.

**To Re

[2020-05-14 21:00] BenGu3 commented on #73
Just for context, it looks like we also get this error if you try to build a Typescript file importing the package (which we ended up avoiding by not building our test directories 👍 ). That PR will also fix this TS error.

`TS2669: Augmentations for the global scope can only be directly nested in external modules or ambient module declarations.`

[2020-05-14 21:52] #73 closed

[2020-05-14 21:52] rwalle61 commented on #73
Thanks for catching and fixing this bug!

[2020-05-14 21:59] rwalle61 commented on #73
Will release in the morning https://github.com/RuntimeTools/OpenAPIValidators/pull/75

[2020-05-21 17:23] rwalle61 opened #77 "Rename `satisfyApiSpec` to `satisfyApiDef`?"
**OpenAPI version**
2 and 3

**Is your feature request related to a problem? Please describe.**
[Some have suggested](https://github.com/apisyouwonthate/openapi.tools/pull/193#issuecomment-629181009) that what we're calling an API "specification" may be more accurately referred to as an API "definition".

The [official OpenAPI 3 Specification](https://github.com/OAI/OpenAPI-Specification/blob/mast

[2020-05-22 21:10] mvegter commented on #46
Directly from [swagger.io](https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/)

This implies that behavior is actually correctly. The two schemas are evaluated individually for the whole object, thus the `additionalProperties` will fail because it expects nothing or the `name` property but actually receives the combined model.

[2020-05-23 19:08] ludeknovy opened #80 "RequestPromiseResponse json body"
**Describe the bug**
RequestPromiseResponse throws `TypeError: res.body.replace is not a function`. This happens when request is made with `json: true`, thus the retuned value is not json string but object.

**To Reproduce**
 * Send request with `json: true`, i.e: `{ method: 'GET', json: true, url: 'your-url',  resolveWithFullResponse: true, simple: false}`
* assert that response with expect(respo

[2020-05-24 18:29] rwalle61 commented on #80
thanks for this! Should be a straightforward fix. Would you like to submit a PR?

Otherwise I will see when I have time to test and fix this

[2020-05-24 18:36] ludeknovy commented on #80
@rwalle61 I might submit a PR.

[2020-05-27 09:05] rwalle61 commented on #80
thanks!

[2020-05-27 10:28] rwalle61 commented on #46
I think you're right @mvegter !

As you say,
[code]
does not satisfy the schema
[code]
because of the additional `id` property. Therefore it doesn't satisfy `allOf` these 2 schemas:
[code]

Indeed, swagger and JSON schema evaluate schemas individually:
* https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/
* https://github.com/OAI/OpenAPI-Specification/blob/master/versio

[2020-05-28 07:20] rolfisub commented on #46
Well we can close this issue for sure, I just think that the most common use case is validating combined schemas not that all of the schemas validate individually to the merged object. It seems to me that the merged object validation is missing then. How can we validate a merged schema that has no additional properties then?

[2020-05-28 07:33] mvegter commented on #46
@rolfisub , I fully agree with you but it is unfortunately conform the specification. The "solution" we are using is to parse and resolve all the `allOf` references to a single schema. So you are going to end up with a generated spec file either in version control or ignored.

[2020-05-28 10:11] rwalle61 commented on #46
@rolfisub, yes as @mvegter says the [OpenAPI spec does not seem to allow merging](https://github.com/OAI/OpenAPI-Specification/issues/674). That page suggests there may be alternative ways to achieve what you want, though I'm not familiar with them

I'll close this then, but feel free to re-open if necessary.

Thanks all for contributing your discussion!

[2020-05-28 10:11] #46 closed

[2020-05-30 19:22] Nitwel opened #89 "Is there support for server variables?"
My current problem is that my api server is configured like this:
[code]
But when I try to make a request like `https://demo.directus.io/thumper/auth/authenticate` I get the error that the path does not match.

The error:
[code]

[2020-05-31 10:27] Nitwel opened #90 "Support for $refs inside schemas"
Using openapi v3.0.1
I run into the issue that when I use $refs inside schemas, I get the error: `should NOT have additional properties`.
It would be nice if this would be supported or at least dont throw an error.
But if you want to implement this you have to concider, that they could not always be provided from the server so it should check it the nested schmea exists in the response and if so,

[2020-05-31 10:45] rwalle61 commented on #89
Hi @Nitwel, thanks for raising this! We don't support server variables at the moment, but it sounds like a valid enhancement, and I'm happy to take an PR for it.

The code for matching responses to OpenAPI paths is [here](https://github.com/RuntimeTools/OpenAPIValidators/blob/master/packages/jest-openapi/src/openapi-validator/lib/classes/OpenApi3Spec.js#L73). Whoever fixes this should probably edi

[2020-05-31 10:47] rwalle61 commented on #90
Thanks for this as well @Nitwel. Do you have a specific example or test case to recreate this?

[2020-05-31 14:57] Nitwel commented on #90
Have a look at the project I'm currently working on:
https://github.com/directus/SDK-Generator/blob/e2c9a90f90b9df3b63e9628ddd3e93757e0ae6a9/specs/components/file.yaml#L79

My solution at the moment is that I merge all files into one big json file and remove all $ref's with openapi-cli.

[2020-05-31 15:03] Nitwel opened #92 "Path detection selecting wrong path"
Here's an example:
[code]

When you now try to call `/files` for example, it will match the `/{project}` endpoint to it. Instead, the priority should not be on the order but on the variables (Variables last).

So `/abc` before `/{var}` and `/path/to/something` before `/path/to/{var}`

[2020-05-31 15:07] rwalle61 commented on #57
To confirm, this is a genuine bug [according to OpenAPI 3 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#patterned-fields):

![image](https://user-images.githubusercontent.com/18170169/83355638-a04be780-a358-11ea-924b-e1478b1039c5.png)

[2020-05-31 15:14] rwalle61 commented on #92
Thanks! I believe this is a duplicate of https://github.com/RuntimeTools/OpenAPIValidators/issues/57 ?

[2020-05-31 15:16] Nitwel commented on #92
Oh yea, sorry didn't check. 👍

[2020-05-31 15:16] #92 closed

[2020-05-31 15:19] rwalle61 commented on #57
Quite a lot of code has changed since I initially recreated the failure in a branch.

So here's a new branch recreating the failure https://github.com/RuntimeTools/OpenAPIValidators/compare/master...rwalle61:57-match-non-templated-path-instead-of-templated-path?expand=1

[2020-05-31 15:20] rwalle61 commented on #57
I don't have time to fix this immediately, so am happy if anyone wants to take over :)

[2020-05-31 15:55] rwalle61 commented on #80
Released!

[2020-05-31 15:55] #80 closed

[2020-06-03 13:25] gbkwiatt opened #101 "Support for allOf ?"
**OpenAPI version**
3.0.0

**Is your feature request related to a problem? Please describe.**
Is it a bug or lack of support fo allOf ? when all of with $ref validation fails

[code]

in this scenario I get vaidation failed:
[code]

[2020-06-03 13:27] gbkwiatt commented on #101
actually never mind, it actually failed because of my fault ..

which means ... superb ;)

[2020-06-03 13:27] #101 closed

[2020-06-03 16:41] rwalle61 commented on #101
Haha thanks :)

feel free to raise any other bugs / enhancements you find!

[2020-06-04 07:37] gbkwiatt opened #102 "required property in referenced response"
In this scenario my required properties are checked in the main response, not in nested config object. So it fails validation
yaml:
[code]

if I change `systemName` to `config`  on required, it passes validation. which menas doesnt matter where required is, it always checks from main response object ?

[2020-06-04 08:58] rwalle61 commented on #102
Hi @gbkwiatt, thanks for raising this.

What’s in your `dataToken` schema, and what’s the validation error you’re getting?

[2020-06-04 09:02] gbkwiatt commented on #102
dataToken schema is  just  another properties which are fine in this case.
without it I get same errors
[code]

validation error just says response should have required `systemName`, which it does but in `response.body.config.systemName`, but it looks for `systemName` inside `response.body` instead.

[2020-06-04 20:06] rwalle61 commented on #102
Okay, it looks like this isn't a bug, and your response schema is slightly different to your response body.

Your response body has `response.body.config.systemName`, but your response schema currently does not actually mention a `config` property. (Calling your schema `Config` does not make a difference in this respect).

Try this response schema:
[code]

Does that resolve your error?

(And if yo

[2020-06-04 20:24] gbkwiatt commented on #102
Not sure what do you mean doesn't mention config?
I'm the code above under properties there is config property which schema is referenced, also if I add there required: - config, it is saysfied.
But then I can check required properties in the config itself.
I did read a bit about allOf problem, seems like it's widely misunderstood. But I can't see any workaround or correct way to do such a thing.

[2020-06-05 06:23] #102 closed

[2020-06-06 17:26] rwalle61 commented on #57
@blelump and @Nitwel, I've merged a fix into master, would you mind pulling master and checking it works? I'll release if so

[2020-06-08 12:05] rwalle61 commented on #57
published in 0.9.4 (https://github.com/RuntimeTools/OpenAPIValidators/pull/111), please close this when you've verified it now works for you :)

[2020-06-15 09:12] #57 closed

[2020-06-23 15:37] mhozhynewscorp opened #121 "Use not only global expect"
**OpenAPI version**
N/A

**Is your feature request related to a problem? Please describe.**

I'm not sure about the `chai`, but as for the `jest`, I faced an obvious limitation.

This plugin can only work in a test environment. To use it in a usual environment, for example in a production that returns an object or an issue occurring with it as an error, you have to do this:
[code]

It works but yo

[2020-06-23 15:47] rwalle61 commented on #121
Thanks for raising this @mhozhynewscorp!

I am open to your feedback about how Jest users prefer to modify `expect`, especially as I personally use this package more in `chai` than `jest` myself.

Currently we modify `expect` following `jest-extended`'s implementation: https://github.com/jest-community/jest-extended#jest-v23 and https://github.com/jest-community/jest-extended/blob/master/src/index

[2020-06-23 16:01] mhozhynewscorp commented on #121
Hi @rwalle61! Thank you for the clarifications, quick response and sample with `jest-extended`.  In that case, we can say that it is an established ecosystem solution.

Personally, if we approach this issue practically, I do not see any issues when using the global `expect`. It's a million-dollar chance that this will lead to some real problems.

So it's up to you whether or not to close issue.

[2020-06-23 17:57] rwalle61 commented on #121
I think we should let people use this plugin like `jest-extended`, i.e. simply doing:
[code]

That modifies `global.expect`. Perhaps some users want to use this package without modifying `global.expect`, e.g. doing:
[code]

If users want this feature, I would be happy to take a PR implementing it in addition to the existing  way of using this plugin (calling `jestOpenAPI(schema)`).

What do you th

[2020-06-23 17:58] rwalle61 commented on #77
It doesn't seem like users want this! Please reopen if you in fact do

[2020-06-23 17:58] #77 closed

[2020-06-23 18:02] rwalle61 commented on #45
Closing as there doesn't seem to be a way currently to combine schemas in multiple files *synchronously*. Feel free to reopen if you have an idea!

[2020-06-23 18:02] #45 closed

[2020-07-01 09:33] rwalle61 commented on #121
I assume we should close this for now. If anyone wants this feature, feel free to reopen this :)

[2020-07-01 09:33] #121 closed

[2020-07-20 06:50] kristofferkarlsson93 opened #130 "TS import in documentation did not work."
Here is a PR to fix the documentation.
https://github.com/RuntimeTools/OpenAPIValidators/pull/129

[2020-07-20 08:57] rwalle61 commented on #130
Thanks very much, I've merged your PR :)

[2020-07-20 09:00] rwalle61 commented on #130
Feel free to add yourself to our Authors.md if you like

[2020-07-20 09:00] #130 closed

[2020-08-14 13:24] Nitwel opened #147 "Validate requestBody and maybe header."
**OpenAPI version**
Any

**Describe the solution you'd like**
It would be real nice to support matching the request against everything in the specs.
Currently, only the response gets checked and not the request header / request body and so on.

Yes, in theory these should always match the spec by default but for the case that an api gets an update so you update the test but forget to update the sp

[2020-08-14 13:41] rwalle61 commented on #147
Thanks for this @Nitwel!

May I ask you to clarify how you would like this feature to be used:
- Would it run in the test code or server code
- How would the assertion read?

I agree this is a useful feature, but as it validates the request not the response, how does it fit with the mission of this project? (I'm not saying it doesn't, I am just encouraging you to clarify :) )

[2020-08-14 13:51] Nitwel commented on #147
Sure do.
I'm currently sometimes running into the issue that when I update the object that is send to the api, I forget to update these chanes inside the openapi spec which causes confusion. So checking the request too would help resolve inconsistencies between the spec and the tests.

This would also apply to chanes made in the spec which where forgotten to update inside the tests.

Here's an exa

[2020-08-16 10:31] rwalle61 commented on #147
Thanks, I have had this issue myself where I want to ensure that my _Request_ and API spec match. Usually in Express server apps I solve it using this custom middleware: https://github.com/eclipse/codewind/blob/master/src/pfe/portal/middleware/reqValidator.js

I have considered publishing that pattern as another npm package actually, but I haven't because there may already be some packages that do

[2020-08-16 10:48] Nitwel commented on #147
I think the best solution for me would be to either fork this project and add that feature there or if you think it is inside the scope of the project to add that feature here.

I get that you see this project only as an response validator but the way I understood this project was that you can easily validate the the whole specs against an api.

[2020-08-17 08:57] rwalle61 commented on #147
In that case I'd be happy for you to implement the feature you want on your fork, and we can look at whether to merge it in or not at that point :)

[2020-09-05 10:59] rwalle61 commented on #48
@GSDTN is this still an issue? If so I will look at resolving it soon

[2020-09-05 15:37] rwalle61 commented on #48
On reflection, I think this is not a bug, because our README and error message already explain that the provided argument must be either
1. a string filepath or
2. an object representing a valid OpenAPI spec.

So this issue is suggesting we enhance our setup, to also support:

3. a stringified object representing a valid OpenAPI spec

But 3 is a mix of 1 and 2, and I'm not sure we should take on t

[2020-09-05 15:37] #48 closed

[2020-09-07 20:12] tgiardina opened #159 "OpenApi 2.0: basePath is ignored"
**Which package are you using**?
`chai-openapi-response-validator`

**OpenAPI version**
2

**Describe the bug**
In my `swagger.json`, `"basePath": "/api"` is ignored, so I get the following error:

[code]

**Possible Solution**
My use case works if I edit the `pathsObject` function in `packages/chai-openapi-response-validator/lib/openapi-validator/lib/classes/AbstractOpenApiSpec` to be:
[code]

I

[2020-09-08 14:21] rwalle61 commented on #159
Thanks for this @tgiardina! I'm at work right now so will take a proper look as soon as I can.

Your solution (editing `pathsObject` in `AbstractOpenApiSpec`) may well work. What's the errors when you run `npm run test:ci`?

From a longer term code maintenance perspective, it would be better to make your changes in `OpenAPI2Spec.js` because this fix is specific to OpenAPI 2.

FYI, for OpenAPI 3 sp

[2020-09-08 17:18] rwalle61 commented on #159
Also, the fastest way to resolve this would be if you could recreate the bug on a branch using [this template](`https://github.com/RuntimeTools/OpenAPIValidators/blob/master/packages/chai-openapi-response-validator/test/bugRecreationTemplate.test.js`), then everyone's crystal clear on the problem.

And if you include your temporary solution on that branch, I can recreate any errors you have runnin

[2020-09-08 22:13] tgiardina commented on #159
Thanks for the quick response, @rwalle61! I may have time later this week to take another look at it.

Re the template, I was a bit confused how to use it properly. Am I supposed to make a PR with an both edited template and an edited yaml file?

[2020-09-09 08:04] rwalle61 commented on #159
Yep, just make those edits on your branch (don't have to PR), and put the link here.

The more minimal the reproduction example the better.

(I'll add these instructions to the readme / the template)

[2020-09-09 23:38] tgiardina commented on #159
Okay, thanks for the explanation! Here's [the link to my fork](https://github.com/tgiardina/OpenAPIValidators). There's only one commit and two files (barely) changed, so it should be easy to parse.

I 100% agree with you on this. I will keep it in mind if I get a chance to make a PR (I may have some time tomorrow).

Thanks again for being so responsive!

[2020-09-10 18:51] rwalle61 commented on #159
Thanks for that minimal recreation, and a PR would be welcome!

As mentioned I would probably fix this in `OpenAPI2Spec.js`.

If you want my suggested implementation:

We already handle OpenAPI 3 servers in `OpenAPI3Spec.js` in the [`findOpenApiPathMatchingPathname` function](https://github.com/RuntimeTools/OpenAPIValidators/blob/master/packages/chai-openapi-response-validator/lib/openapi-validato

[2020-09-10 18:55] tgiardina commented on #159
Funny timing! I just created a PR doing essentially what you outlined! I'll let you check it out rather than repeating myself here.

[2020-09-17 15:58] mojito317 commented on #57
@rwalle61 could you please check this fix with a path like:
`/resourceA/:id/resourceB`?
I'm afraid it fails for me and matches to the similar `/:id1/:id2/:id3` endpoint.

[2020-09-18 07:07] mojito317 opened #164 "Lack of support for nested routes of the same resource #2"
**Which package are you using**?
`chai-openapi-response-validator`

**OpenAPI version**
3

**Describe the bug**
Lack of support for routes like:
[code]

**To Reproduce**
Prepare spec for ie:
[code]
and try to `satisfyApiSpec` against /resource/:id/new route.

**Current behavior**
For `/resource/:id/new` route it matches `/:id1/:id2/:id3` and spec fails.

**Expected behavior**
If `/resource/:id/new

[2020-09-18 17:28] JonnySpruce commented on #164
Thanks for raising this issue. @rwalle61 and I have been able to reproduce it and it's definitely something we need to discuss the expected behaviour for, since both paths technically do match.

Looking at the [relevant part of the OpenAPI3 spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#patterned-fields), it's not clear whether your example would fall into the amb

[2020-09-21 09:19] JonnySpruce commented on #164
To update, from my research I found nothing concrete. Aside from a [comment from a collaborator](https://github.com/OAI/OpenAPI-Specification/issues/1459#issuecomment-359017334) which hints at the preferred ordering being whatever path contains more concrete segments, there seems to be no real reference to the correct way to order paths like in your example.

So to get a better answer, I've raised

[2020-09-22 07:46] rwalle61 commented on #89
For reference, the relevant part of the official OpenAPI 3 specification is https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#server-object

[2020-09-22 08:19] mojito317 commented on #164
Answering the question: I am trying to validate a path with more concrete segments that should be preferred over the `/:id1/:id2/:id3` path like in CouchDB (which is not following strictly the OpenAPI guidance, unfortunately): `/_node/{node-name}/_stats` ([link](https://docs.couchdb.org/en/stable/api/server/common.html?highlight=%2F_stats#get--_node-node-name-_stats)) over `/{db}/{docid}/{attname}

[2020-09-25 08:27] rwalle61 commented on #164
Thanks for clarifying, @mojito317 . Just to confirm, when you say that using these CouchDB paths

is that according to some official OpenAPI guidance, or a (reasonable) assumption?

If the former, I guess we couldn't support this use case until it is compatible with OpenAPI. If the latter, hopefully the official OpenAPI people will clarify for us :)

[2020-09-25 13:02] mojito317 commented on #164
It is only my assumption, sorry if I made some confusion in the heads.

[2020-10-05 12:35] Yilong94 opened #177 "oneOf not working as intended"
**Which package are you using**?
`jest-openapi`

**OpenAPI version**
3

**Describe the bug**
`oneOf` does not work as intended. Even though the response object matches one of the schemas, it throws an error

**To Reproduce**
Steps to reproduce the behavior:

Using this trivial example below
[code]
I generated an object with the following structure
[code]

I received the following error which state

[2020-10-05 13:15] rwalle61 commented on #177
Thanks for raising this :)

I think this is expected OpenAPI behaviour. Your res body is matching 2 schemas, rather than just oneOf them.

(oneOf is not oneOrMoreOf)

I will double check when I have time. Fyi this issue reminds me of an old issue where we were similarly confused about `allOf`, which I will link here when I'm on my laptop

[2020-10-05 15:24] Yilong94 commented on #177
omg yes you are right. It didnt dawn upon me that it was matching both schema until you mentioned it. I forgot that schemas can match objects with additional properties. Thank you good sir for pointing it out!

I know this probably isnt the place to ask but thought you might have an answer off the top of your head. In that case, should I be using 'anyOf' to describe this API, or is there a better

[2020-10-05 18:50] rwalle61 commented on #177
You said it yourself, "schemas can match objects with additional properties", unless you specify `additionalProperties: false` on your schema :)

I can't find a nice summary of `additionalProperties`, but here's a starting point https://swagger.io/docs/specification/data-models/keywords/?sbsearch=additionalproperties

[2020-10-05 18:51] #177 closed

[2020-10-06 02:55] Yilong94 commented on #177
yes this works! thank you very much 👍

[2020-10-07 18:58] rwalle61 commented on #159
TODO for me
- [] port to Jest
- [] release

[2020-10-10 11:22] rwalle61 commented on #55
Sorry for the delay @blelump, my initial thought months ago was that this is quite a large enhancement and probably out of our scope. I still think it is out of scope for now, and as we've not received any interest from other users I'll probably close this. However, it may come in scope in future (read below).

### Summary

If I'm summarising correctly, you'd like to easily check that your OpenAPI

[2020-10-10 11:26] rwalle61 commented on #147
@Nitwel out of curiousity, did you ever implement this?

I'll close this for now but we can keep reopen / keep discussing as necessary

[2020-10-10 11:26] #147 closed

[2020-10-10 17:11] blelump commented on #55
Hi @rwalle61 !

After a few months later I can say a bit more. My initial thought was to use the example object(s) as a payload for acceptance tests for given API exposed under base URL. However, now I'd debate about the real usefulness of this, especially when the endpoint, for instance, requires additional dependencies. So in the end you are forced to manage it kinda manually to cover the test d

[2020-10-10 19:45] rwalle61 commented on #55
It's interesting to hear an update on your use case. Yes I think that although OAS examples  can be useful, on their own they are not sufficient for acceptance tests of your server's behaviour.

Btw have you heard of / used Pact? I haven't used it myself but it may be a solution for your use case

As for this issue, shall we close it?

[2020-10-11 09:17] Nitwel commented on #147
My priorities shifted to other things so I had no time to work on this. If we ever need this feature I'll happily create a PR but for now there is to much other stuff to do.

[2020-10-11 15:06] #55 closed

[2020-10-11 15:09] blelump commented on #55
Haven't heard of Pact, thanks for the tip !

[2020-10-11 16:57] rwalle61 commented on #159
Published 🎉

Thanks @tgiardina for your code and discussion, a pleasure having your contribution.

Fyi I managed to [remove some of those `if` conditions for the error message](https://github.com/RuntimeTools/OpenAPIValidators/pull/185/files#diff-585a46b55b8d80d190a56a2a5ff41a8bR40) by spotting that we had a few tests covering invalid `req.path`s.

I'll simplify the codebase further and convert it

[2020-10-11 16:59] rwalle61 commented on #159
Please confirm v0.10.0 actually fixes your use case, and if so close this!

[2020-10-11 22:01] tgiardina commented on #159
Just checked. Everything looks like it's working!

[2020-10-11 22:01] #159 closed

[2020-11-11 02:49] Yilong94 opened #205 "Validation of HTTP response header"
**OpenAPI version**
3

**Is your feature request related to a problem? Please describe.**
Currently the jest-openapi library validates the status and body of HTTP responses which works great. However, it doesnt seem to be validating the header of HTTP response even though it is specified in OpenAPI documentation.

**Describe the solution you'd like**
Validation of HTTP response header

[2020-11-11 14:00] rwalle61 commented on #205
Thanks @Yilong94, I agree with you this would be useful.

Could you provide examples of specific use cases that we should support, so that whoever implements this enhancement can make sure they cover the top priorities?

Please show us some response objects (or responses from request packages) that would be valid/invalid against some example OpenAPI response definitions. You can specify what asser

[2020-11-13 17:33] IvanStawski opened #206 "Unexpected additional properties analysis"
### To Simplify test analisys with

- **Issue:** now validator dosn't give us possibility to understand what new properties appeared in the response, which not described in the schema
- **Proposal:** After some time I can create a PR with workaround which we using on the project to get unexpected properties list. Example of the error message: https://prnt.sc/viqtti

Does it make sense?

[2020-11-13 17:43] rwalle61 commented on #206
Thanks @IvanStawski, what validation error does our plugin currently give, when the response object contains additional properties to those described in the OpenAPI response schema?

Have you definitely specified `additionalProperties: false` in your OpenAPI spec?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#schema-object

[2020-11-14 14:43] Xotabu4 opened #208 "Add possibility to work with multiple open api docs validation in 1 test"
In my current tests i need to work with multiple servers with own docs in one test:

[code]

Potential solution that i see, is to create 2 chai instances:

[code]

But this looks pretty hard to support, and such approach is not possible to apply to jest version of this validatior.

Would be nice to get some api that will allow to assert against provided spec, something like:

Something like:
[code

[2020-11-14 15:12] Xotabu4 commented on #89
Before i saw this package i created my own, and i added special setting to ignore part of request path in validator, probably same approach can be used?

![image](https://user-images.githubusercontent.com/3033972/99150334-75eaae00-269c-11eb-87a6-87bda5a2ed35.png)

[2020-11-14 16:34] rwalle61 commented on #208
Thanks for this suggestion @Xotabu4. There may already be a workaround to do what you want, but let's check if it works. Even if it does, this enhancement may be nice as syntactic sugar.

I think currently `expect(res).to.satisfyApiSpec` validates `res` against the OpenAPI spec that was most recently loaded into the particular instance of chai. So although you can't currently use multiple OpenAPI

[2020-11-14 16:44] rwalle61 commented on #89
@Xotabu4, I think your suggestion may be a bit different to @Nitwel's issue. OpenAPI 3 has `servers` and server variables, and Nitwel is asking that we correctly parse these variables if the user defines them in their OpenAPI spec.

I'm not sure how manually configuring our validator to ignore parts of the API spec would accomplish that goal. In any case, I think this package should be as easy to

[2020-11-14 16:46] rwalle61 commented on #89
As a general update on this issue, both @JonnySpruce and I have branches with this feature implemented, but we are both too busy at the moment to review our work and get it merged. Anyone who wants us to prioritise this higher, please +1 the issue at the top :)

[2020-12-03 11:29] IvanStawski commented on #206
1. Example of the current validation error given in the current version: https://prnt.sc/vuz8cw. There is no any mention of what field was actually appeared in the response

2. Yes, exactly. this is the case. When such unclear validation error appears

[2020-12-03 17:47] tgiardina commented on #90
Hi @Nitwel,

The link you provided is now dead. Is this still a problem for you? If it is, consider forking this repo, recreating the bug in the [bugRecreationTemplate](https://github.com/openapi-library/OpenAPIValidators/blob/master/commonTestResources/exampleOpenApiFiles/valid/bugRecreationTemplate/openapi.yml), and then linking to your forked repo here.

[2020-12-14 10:17] karlismelderis opened #213 "Make `toSatisfyApiSpec` more specific"
**OpenAPI version**
2 and/or 3

**Is your feature request related to a problem? Please describe.**
if toSatisfyApiSpec is used alone test case feels bit to loose and hard to reason about in PR review.

[code]

Not knowing internals of matcher if feels like any response - 200, 4xx, 5xx that's described in API spec will pass the test.

errors/typos happen.
People sometimes write tests with single `e

[2020-12-14 20:14] rwalle61 commented on #213
Thanks for your suggestion @karlismelderis!

I agree `toSatisfyApiSpec` on it's own doesn't make clear which definition your response object satisfies. However are we sure extending `toSatisfyApiSpec` as you suggest is better than "Adding extra `expect` statements"?

Well, we could just insist that people add them. Okay, but isn't this assertion better:
[code]

But is it really easier to read, wri

[2020-12-14 20:23] rwalle61 commented on #164
Unfortunately, the OpenAPI folks [haven't answered this](https://github.com/OAI/OpenAPI-Specification/issues/2356). I guess it's a pretty rare edge case.

Until we hear from them, I think this is a [case of ambiguous matching, [and] it's up to the tooling to decide which one to use](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#patterned-fields).

It would be easiest f

[2020-12-14 20:32] rwalle61 commented on #206
Ah thanks @IvanStawski, sorry, I understand now that you'd like the assertion message from a definition using `additionalProperties: false` to be clearer.

If you'd like to help resolve this, please recreate an example using the [bugRecreationTemplate](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/chai-openapi-response-validator/test/bugRecreationTemplate.test.js). (I a

[2020-12-15 10:50] mojito317 commented on #164
Hi @rwalle61! Thanks for the feedback!

Unfortunately, I could not use the validator for my whole descriptor. I used a workaround that commented out the parts that were in conflict to check the descriptors are valid for all the endpoints manually. I could not put it in our pipeline. But since I had to manually validate the endpoints it is not necessary for me right now, but I can imagine we are go

[2020-12-16 12:42] IvanStawski commented on #206
Please clarify: How should I provide an example? Should I make a PR or something else?

[2020-12-18 21:30] doc-balto commented on #213
I had a similar thought. We're using this tool for both contract validation and integration test response validation, but wanted to be explicit as to _which_ response body it validated against.

I ended up writing a Chai method that wrapped a check for a status code, which made our tests super readable. Here's what I ended up doing:

[code]

And then my test looks like:

[code]

And gives me some

[2020-12-19 11:01] rwalle61 commented on #206
Yea if you fork this repo and make a branch recreating this scenario in the bugRecreation template, it will be easier for someone to improve the assertion error message in this scenario. I'll guide them on how to implement the change in our code if they want.

And if you want to implement the change yourself, I'm happy to support you in raising a PR and merging it to master :)

[2020-12-21 15:02] karlismelderis commented on #213
Agree.
Maybe status code would be enough to narrow down what response is expected to happen.

HTTP method and path can be assumed/predicted from request where status code can flip between 200/500 and test would still pass.

[2021-01-29 13:24] ahenket opened #216 "Add support for $ref to external schema from api.json"
**OpenAPI version**
3.0.3

**Is your feature request related to a problem? Please describe.**
I have 197kb worth of schema that I keep separate from the api specification itself. This in turn means that path parameters, responses and requestBody use ```$ref``` to a different file to get those. This is currently not supported and that leaves me without option to use ```satisfyApiSpec``` in my tests

[2021-01-30 15:35] rwalle61 commented on #90
I'm closing this issue as it seems stale, but people can reopen if they need the enhancement

[2021-01-30 15:35] #90 closed

[2021-01-31 18:49] rwalle61 commented on #216
Hi @ahenket, thanks for this enhancement suggestion! Looks pretty valid. I don't have much time to implement it myself right now, but can support anyone who wants to do it.

Also, if other people would like this enhancement, please upvote, and we'll prioritise it.

[2021-02-11 20:31] npfitz opened #217 "Update Basic Example in README.MD to include Jest env settings"
**OpenAPI version**
3

**Is your feature request related to a problem? Please describe.**
When attempting to run the example provided in the Readme, I had a lot of trouble passing my Axios response to expect and having it work correctly. I was receiving the error:

```TypeError: The "url" argument must be of type string. Received undefinedTypeError [ERR_INVALID_ARG_TYPE]: The "url" argument must b

[2021-02-12 21:02] rwalle61 commented on #217
Hi @npfitz, thanks for raising this, and glad you persisted! I never had to configure that, so not sure why you had to. For example, we have tests using axios.

Do we know why axios doesn't work in a jsdom environment?

Out of curiosity, I had a quick google, yea [jest 26 defaults to jsdom](https://jestjs.io/docs/en/configuration#testenvironment-string). Apparently[jest 27 will default to node](ht

[2021-02-13 17:46] npfitz commented on #217
Hi @rwalle61, Unfortunately I'm not entirely sure. I would guess that it has something with the fact that axios supports both Node.js as well as working in a browser, both of which offer different mechanisms for creating requests (XMLHTTPRequest vs the http package in node perhaps?). I'd assume that axios looks for things to determine what kind of environment it is in (like the presence of the win

[2021-02-13 17:51] npfitz commented on #216
@ahenket If this is still causing you issues, I was able to work around this by using the [SwaggerParser package](https://www.npmjs.com/package/swagger-parser) to read the spec and give me an object to pass to jestOpenAPI. In my code:
[code]

[2021-02-27 18:14] rwalle61 commented on #89
https://github.com/openapi-library/OpenAPIValidators/pull/218

[2021-02-28 20:23] qmg-rwaller commented on #217
Ah right, yes as you say, we expect axios responses to come from [axios run in the node environment](https://github.com/axios/axios/issues/1180), and we error if fed an axios response from jsdom environment. I never realised this, so thanks for pointing it out! I guess most people are running tests involving axios in a node environment.

Yes please, if you'd like, raise a PR adding a note about th

[2021-03-03 20:02] rwalle61 commented on #164
The OpenApi folks haven't got back to us on this, so I guess it's not one of their priorities. Unfortunately I think this plugin should avoid committing to unofficial behaviour, unless lots of users request it.

Sorry @mojito317 we can't currently support your use case, but thanks for your interest and bringing this to our attention!

[2021-03-03 20:02] #164 closed

[2021-03-06 18:37] rwalle61 commented on #89
Published! https://github.com/openapi-library/OpenAPIValidators/releases/tag/v0.13.0

Thanks to everyone for their patience and @JonnySpruce for a lot of the work.

@Nitwel and others who requested this, would you mind confirming the issue is fixed? Please reopen if needed :)

[2021-03-06 18:37] #89 closed

[2021-03-12 05:17] leonoh-oua opened #226 "Support "default" and "5XX" types of response status code"
**Which package are you using**?
`chai-openapi-response-validator`

**OpenAPI version**
3

**Describe the bug**
Support "default" and "5XX" types of response status code. Those responses are valid based on the open api documents.
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#responsesObject
https://swagger.io/docs/specification/describing-responses/

OpenAPIValidators

[2021-03-13 16:38] rwalle61 commented on #226
Thanks @leonoh-oua! I think we overlooked this functionality. The bug is occuring because we currently throw an error if the actual status code doesn't exactly match that of [any responses in the API spec](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/openapi-validator/lib/classes/AbstractOpenApiSpec.js#L48).

As you say, if there are no exact matches, instead we should

[2021-03-15 20:52] leonoh-oua commented on #226
I wish I would have time to fix it myself :/ I agree with @setaman . Your suggested error message looks good to me too.

[2021-04-01 13:56] lightzephyr opened #228 "Properties res.request.path and res.request.method are missing"
**jest-openapi v0.13.0**
**Server:** Node / Express with CORS enabled
**Client:** Axios (v0.21.1) via Jest (v26.6.3) configured (in Typescript) as described in use case #1 on the jest-openapi Github page

**Error:**
`GET /version › should satisfy OpenAPI spec

    TypeError: The "url" argument must be of type string. Received undefinedTypeError [ERR_INVALID_ARG_TYPE]: The "url" argument must be of

[2021-04-01 16:50] rwalle61 commented on #228
Thanks @lightzephyr for raising this. I'm not sure why the `request` property is undefined - we're expecting it to a have `path` that is your url. How are you making the axios request, and is your jest env `node` or `jsdom`? (Our [tests](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/jest-openapi/__test__/matchers/toSatisfyApiSpec/differentRequestModules.test.ts#L134) us

[2021-04-06 07:29] lightzephyr commented on #228
Axios was used as follows:
`const res = await axios.get('http://localhost:8080/api/version');`

The jest environment was set to the default "jsdom". Changing it to "node" fixed the problem.

[2021-04-06 07:29] #228 closed

[2021-04-06 11:23] rwalle61 commented on #228
You're welcome, cheers for raising this here. I'll link it to an open issue we have to track this https://github.com/openapi-library/OpenAPIValidators/issues/217

[2021-05-01 18:06] bfreuden opened #229 "Validation errors when paths have multiple path parameters"
**Which package are you using**?
`chai-openapi-response-validator`

**OpenAPI version**
3

**Describe the bug**
When finding the OAPath matching a request path, the validator does not take into account the **number** of path parameters.
For the moment it only checks the **existence** of path parameters: OAPaths having no path parameters are favored over templated OAPaths (paths with path parameter

[2021-05-01 18:21] bfreuden commented on #229
The pull request number is #230
As it is my first contribution to this repository, I might need some guidance.

[2021-05-01 19:47] rwalle61 commented on #229
Thanks @bfreuden! Taking a look at this. On first glance your PR seems great :) Just checking though, is this issue different to https://github.com/openapi-library/OpenAPIValidators/issues/164?

[2021-05-02 12:39] bfreuden commented on #229
Thank you @rwalle61 for the lightning fast feedback!
TBH I took me quite some time to come up with a (hopefully?) no-nonsense answer to your question. I went through:
1. https://github.com/openapi-library/OpenAPIValidators/issues/164
2. https://github.com/openapi-library/OpenAPIValidators/issues/57
3. https://github.com/OAI/OpenAPI-Specification/issues/2356
4. https://github.com/OAI/OpenAPI-Specif

[2021-05-03 11:19] rwalle61 commented on #229
Hi @bfreuden, thanks for your careful research, thought, and implementation - that's the type of contribution we're pleased to see! Here are my thoughts, let me know what you think :)

As you say, the official guidance is not precise:

So should we decide which one to use? So far our tool has only implemented official behaviour. This has some benefits:
* users, maintainers, contributors can just n

[2021-05-03 17:05] bfreuden commented on #229
Hi @rwalle61, thanks again for the fast and thorough reply! Very appreciated :)

I really understand your point: sticking to the spec is a sound position.
However, to be honest, I _believe_ there is a problem with OpenAPIValidators.
I can only believe because I cannot prove my claim (since the spec is not precise enough).

Let me show you this: https://github.com/bfreuden/openapi-validation-tests

[2021-05-03 18:48] bfreuden commented on #229
Sorry: I have not answered (good) questions you asked in your last message because I feel I can't for the moment.
But they're still on my mind :)

[2021-05-04 14:53] bfreuden commented on #229
Asked the question on [Stackoverflow](https://stackoverflow.com/questions/67382759/are-those-openapi-3-paths-ambiguous) and got an answer from the 4th top contributor of the OpenAPI-Specification github repo.
This is the opinion of one person though, so it should be handled with care.

[2021-05-05 21:28] hicksjacobp commented on #205
A simple example is that the `Content-Type` doesn't appear to be validated. I have a `Content-Type` in my spec that doesn't match what the actual response has. I would have expected the call to `satisfyApiSpec` fail when it still passed.

For example, if the spec has `application/vnd.something+json`, but the response has `application/vnd.somethingelse+json`, I would expect the assertion to fail.

[2021-05-10 17:03] bfreuden commented on #229
@rwalle61 thanks for commenting my issue in the OpenAPI repo. It would be great to get an official answer indeed!

I'm sorry I've been busy these days.
I've been thinking about that "ambiguous" case though (in a background thread of my mind :)).

I'm putting quotes around "ambiguous" because it is (according to the OpenAPI specification, _sensu stricto_), but it does not seem to be (according to t

[2021-06-26 19:10] CameronHudson8 opened #237 "Implicitly call expect(res).toSatisfyApiSpec() on requests responses"
(Background: Please forgive me if my assumptions below about `jest-openapi`'s existing functionality are incorrect. I'm currently seeking a tool to confirm that my existing API tests match my OpenAPI spec. My suggestion below is based on the functionality described in `jest-openapi`'s `README.md`.)

At the moment, developers must call `expect(res).toSatisfyApiSpec()` on each response. However, dev

[2021-06-27 09:50] rwalle61 commented on #213
Thanks @karlismelderis and @doc-balto for your discussion :)

Yea I agree:

It sounds like existing behaviour is enough, especially if users assert on the status. That's what we have in our [existing examples](https://github.com/openapi-library/OpenAPIValidators/tree/master/packages/jest-openapi#1-write-a-test). But if it could be clearer, please suggest how / raise a PR clarifying it. This discus

[2021-06-27 09:50] #213 closed

[2021-06-27 10:20] rwalle61 commented on #229
Thanks @bfreuden, sorry I've been too busy to reply recently. Sounds like we're not getting a strong official OpenAPI answer. Mike's [reply to your Stack Overflow question](https://stackoverflow.com/a/67382916/9864252) suggests we should match _most-concrete_. But to adapt your example, given this spec
[code]
I don't think it's clear what a request with path `/pets/mine/fur/color` matches.

I thin

[2021-06-27 10:26] rwalle61 commented on #237
Hi @CameronHudson8, thanks for raising this :) This reminds me of https://github.com/openapi-library/OpenAPIValidators/issues/55, what do you think about that discussion?

[2021-06-27 17:36] CameronHudson8 commented on #237
That discussion certainly does touch on some similar ideas. For instance, @blelump says:

I think @blelump is mistaken in the first sentence, which he acknowledges in a later post. But he is touching on the distinction I made between syntactic correctness (conformance to the OAS) and logical correctness from a functionality perspective. For requests _x_, the server is like a function _f(x)_ that r

[2021-06-28 09:29] bfreuden commented on #229
Hi @rwalle61
No worries, I've been very busy as well :)

Well... to be honest I've suggested the multiple matching strategies approach because you seem very concerned about regressions for existing OpenAPIValidators users.

I don't think it is necessary though: the *same prefix* strategy will perform precisely the same way as the current *latest* strategy for people having a "simple" API (I'm quot

[2021-07-13 20:27] evhabs opened #238 "I can't use $ref to pull in other yaml files"
**Which package are you using**?
`chai-openapi-response-validator` / `jest-openapi`

**OpenAPI version**
3

**Describe the bug**
In my response I try to use $ref to ask for a model and i consistantly get this error:
` received did not satisfy it because: products[0] can't resolve reference ./models/Product.v1.yaml`

I've tried moving it into the same folder and doing './Product.v1.yaml' but it sti

[2021-07-13 21:06] #238 closed

[2021-07-18 17:25] rwalle61 commented on #238
Hey @evhabs, thanks for raising this, did you resolve the issue?

[2021-07-24 02:19] evhabs commented on #238
Hey @rwalle61, I wasn't able to resolve this I closed this because it seems there's already this same issue here:  https://github.com/openapi-library/OpenAPIValidators/issues/229

[2021-08-09 13:14] Foorack opened #240 "Nullable ignored on property values"
**OpenAPI version**
3.0

**Is your feature request related to a problem? Please describe.**

Current validation does not respect nullable on propertiy fields.

User.yaml:
[code]

Response is `accountDeletionDate` is null.
Error message: `res did not satisfy it because: accountDeletionDate should be string`

**Describe the solution you'd like**
For the validation to pass.

**Are you going to resolv

[2021-08-15 12:47] rwalle61 commented on #238
Sorry for the delay! I think your issue is quite different to #229, which is about what to do when the request path matches multiple paths in the OpenAPI document. Your issue is that you want to reference other files via `$ref: './Product.v1.yaml'`. Unfortunately we don't currently support this - when we see `$ref` we just look at [`#/components/responses/`](https://github.com/openapi-library/Open

[2021-08-15 12:49] rwalle61 commented on #208
Closing as there hasn't been an update for a while, but feel free to reopen or upvote this issue if anyone would like action on it 😄

[2021-08-15 12:49] #208 closed

[2021-08-15 12:52] rwalle61 commented on #238
Actually, is this a duplicate of https://github.com/openapi-library/OpenAPIValidators/issues/216 ? (perhaps you meant to link that instead of 229). Does the workaround in #216 solve this issue?

[2021-08-15 13:54] rwalle61 commented on #240
Hi @Foorack, thanks for raising this 🙂 It seems `nullable` has been removed between OpenAPI 3.0.3 and 3.1.0, so I've [asked the official maintainers](https://github.com/OAI/OpenAPI-Specification/issues/2244) to clarify how you should define nullable properties.

If you stick with OpenAPI 3.0.3 then we'd need to support different behaviours for 3.0.3 and 3.1.0. This is not a huge change, but I wond

[2021-08-16 05:15] evhabs commented on #238
Oh I didn't see #216  i'll have to try this out when I get sometime later this week i'll try it out

[2021-08-22 10:14] rwalle61 commented on #240
Fyi the OpenAPI maintainers [got back to me](https://github.com/OAI/OpenAPI-Specification/issues/2244#issuecomment-899084964) on how to define nullable properties in OpenAPI, let me know if it works!

[2021-08-22 11:46] Foorack commented on #240
Thank you @rwalle61! We will try that and get back to you.

[2021-08-22 11:59] Foorack commented on #240
I'm having trouble testing this, as we are generating code with `openapi-generator`, and it's going crazy over that syntax. It doesn't expect `type` being anything other than a string...

[2021-08-30 14:51] rwalle61 commented on #240
hmm the dependency we use to validate OpenAPI files does not seem to like the `type` being an array.

If I change our [`bugRecreationTemplate/openapi.yml`](https://github.com/openapi-library/OpenAPIValidators/blob/master/commonTestResources/exampleOpenApiFiles/valid/bugRecreationTemplate/openapi.yml) to have `type: 'null'`:
[code]
then this `res` passes [the test](https://github.com/openapi-librar

[2021-09-13 08:23] rnphilp opened #245 "Options to specify output"
**OpenAPI version**
3

**Is your feature request related to a problem? Please describe.**
When using the toSatisfyApiSpec function, the output often overruns the history limit of the terminal. This is the case when the API route being tested returns an array of items (even if only one of the objects in the whole array is invalid), or when running a full test suite, where there are multiple errors

[2021-09-20 20:05] rwalle61 commented on #245
Hi @rnphilp, thanks for raising this! I'd be grateful if you could recreate this using our [recreation template](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/jest-openapi/__test__/bugRecreationTemplate.test.ts), so we can see how best to improve the output. Some of the error output comes from our validation dependency, but we are the ones deciding to output the whole r

[2021-09-29 05:32] DetachHead opened #247 "support servers with paths relative to another path"
**OpenAPI version**
3

**Is your feature request related to a problem? Please describe.**
i'm testing an api with different environments at different paths, like so:
- `http://example.com/dev`
- `http://example.com/test`
- `http://example.com/prod`

and the schema hosted at `http://example.com/dev/openApi` be like:
[code]
meaning that the full path to the server is `http://example.com/dev/api`, bu

[2021-10-02 18:55] rwalle61 commented on #247
Thanks @DetachHead! Sounds like a good enhancement. I don't have time to fix this myself now but anyone who wants this please submit a PR (I can provide support or suggestions). Or upvote this issue so we know how popular it is 🙂

### Workaround
Would this work for your use case?

[code]

### Solution
The `jestOpenAPI` function does not support passing a url where the schema is hosted because fetc

[2021-10-06 19:06] michaelgwelch commented on #147
Was just coming here to look for this feature. Are use case is that we want to make sure that what we documented as our request schema actually matches what we use for requests.

[2021-10-07 13:12] amitkeinan9 opened #250 "Array path params"
**Which package are you using**?
`jest-openapi`

**OpenAPI version**
3

**Describe the bug**
When testing a route that accepts an array as a path parameter for example: `/groups/{ids}` where ids is a comma separated array (`/groups/1,2`) the test fails with an error the the requested path is not in the API spec while printing the available paths including `groups{ids}`.

I tried setting the ids pa

[2021-10-08 14:44] rmclaughlin-nelnet opened #251 "Support for node-fetch"
**OpenAPI version**
2 and/or 3?
3
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
This looks like a great solution to a problem we have been facing. However, we use node-fetch exclusively in our code and tests. Do you have any plans to support node-fetch?
**Describe the solution you'd li

[2021-10-09 10:51] rwalle61 commented on #251
Hi @rmclaughlin-nelnet, thanks for raising this! 😃

I've been meaning to support `node-fetch` for a while as it's [pretty popular](https://www.npmtrends.com/node-fetch-vs-got-vs-make-fetch-happen-vs-axios-vs-superagent-vs-unfetch-vs-needle).

What's the error you get when passing a `node-fetch` response to the `toSatisfyApiSpec` assertion?

I expect the solution will just be:
* add a test block fo

[2021-10-10 12:57] amitkeinan9 commented on #250
Bug before fix:
![image](https://user-images.githubusercontent.com/16577335/136696665-ad24a8a2-4bee-4fc0-8fe2-03b19c6bf6ea.png)

Bug after fix:
![image](https://user-images.githubusercontent.com/16577335/136696704-69c5bf58-8852-44cb-8dab-8f317a9b0cbc.png)

Removing all commas from string solved the problem in the `style: simple explode: false` case

[2021-10-10 13:17] amitkeinan9 commented on #250
Opened a PR

[2021-10-10 19:36] rwalle61 commented on #250
Thanks! Will take a look

[2021-10-16 12:53] rwalle61 commented on #250
Code merged to master, will release soon. I'll close this after releasing and you've confirmed it's working 🙂

[2021-10-16 17:30] rwalle61 commented on #251
Thanks, also which version of `node-fetch` are you using? Looks like most people are on 2.6.5, presumably because 3.0.0 is ES-Module only

![image](https://user-images.githubusercontent.com/18170169/137596780-331e2f7f-3aee-4a48-ac20-f0fc9414a56b.png)

[2021-10-16 17:37] amitkeinan9 commented on #250
Works!

[2021-10-17 11:21] #250 closed

[2021-10-30 11:42] rwalle61 commented on #251
Ah, sorry I miswrote the first solution, you need the `status` field so that we [parse the response as a SuperAgent response](https://github.com/openapi-library/OpenAPIValidators/blob/d5e520540d555389cf490892e95b5dccca37c9ce/packages/openapi-validator/lib/responseFactory.ts#L12), rather than a RequestPromise response (hence why it expected `_json`)

This should work when a response header specifie

[2021-11-02 15:58] rmclaughlin-nelnet commented on #251
Ok, I got it to work with a few tweaks
[code]

1. It looks like body is the correct property to fill in, not text
2. You were using `expect(res).to.satisfyApiSpec;` but I had to use `expect(res).toSatisfyApiSpec();`
3. It looks like it does not validate that a property does or does not exist, only that, if it exists, it is the correct type, is that correct? I tried breaking the test by removing/ch

[2021-11-02 23:56] okeydoke opened #256 "toSatisfySchemaInApiSpec doesn't validate correctly?"
**Are you using jest or chai**?
Jest 27.0.6

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
3.0.1

**Describe the bug clearly**
Not sure if I'm doing something wrong but `expect({}).toSatisfySchemaInApiSpec("AccountResponse")` doesn't seem to validate very well/strictly. And seems to think that an empty object is valid when using the following schema.

AccountResponse looks like below
[code]

It se

[2021-11-03 11:28] jasperkennis commented on #256
I'm running into the same problem. Using open api `3.0.0`, `jest-openapi@0.14.1` and `jest@27.3.1`.

[2021-11-03 12:41] harveyappleton opened #257 "oneOf where more than 2 types inside an array"
**Are you using jest or chai**?
Jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
OpenAPI 3.0.3

**Describe the bug clearly**
When I use `oneOf` for items in an array with more than 2 distinct references, it fails randomly and can't discriminate which is the matched entity type (even with `discriminator` property).

**Steps to reproduce the bug:**
1. Create an open api spec with `oneOf` with mor

[2021-11-06 11:35] rwalle61 commented on #251
Thanks! In answer to your points:
1. ah yes I think adding `text` is unnecessary
2. good spot, my example was for the chai plugin, whereas you're using jest.
3. would you mind pasting the relevant part of your swagger file? To fail tests by removing/changing the names of properties in the swagger file, I think your response schema should have `additionalProperties: false` and/or `required` propert

[2021-11-06 11:41] rwalle61 commented on #256
thanks for raising this!

I think the validator is working correctly though - `{}` actually does satisfy your schema, because by default, properties are optional. If your schema marks the `accounts` property as `required`, does it validate as you expect? (And you may want to mark `account_type` and `account_name` as `required` too in the sub-schema)

I think `required` is a JSON schema thing - see

[2021-11-06 13:29] rwalle61 commented on #257
Thanks for raising this @harveyappleton 🙂

I may have time next weekend to look at this. In the meantime if you'd like to recreate this using this file: https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/jest-openapi/__test__/bugRecreationTemplate.test.ts (just clone the repo and post a link to your branch here). That will help speed up my investigation

[2021-11-09 12:28] harveyappleton commented on #257
Hey @rwalle61 - think I might have found cause of issue AND produced a demo

[https://github.com/harveyappleton/OpenAPIValidators/tree/master](url)

Clone this fork
Go into project
`cd packages/jest-openapi`
`yarn test`

You should see the failing test

[code]

It is because it seems to match `AppleOrange` as `Apple`, perhaps it is using some sort of string starts with method? Rather than matching

[2021-11-14 22:19] okeydoke commented on #256
Ah thanks I didn't realise I could/needed to add required to the response. It's working once I add that. Many thanks!

[2021-11-14 22:20] #256 closed

[2021-11-14 23:13] rwalle61 commented on #257
Thanks @harveyappleton ! I didn't have time to investigate this weekend but you've given me a great starting point for when I can. Seems like something odd is happening

[2021-11-25 16:13] harveyappleton commented on #257
No problems @rwalle61 - if you can point me in the right direction, I might be able to do a fix for this :)

[2021-12-01 03:02] DetachHead opened #258 "`openapi-validator` - missing types for `request` and `superagent`"
[code]
`@types/request` and `@types/superagent` should probably be listed as `dependencies` instead of `devDependencies` as they are required downstream if using you're using typescript and don't want to enable `skipLibCheck`

[2021-12-16 07:45] mefellows opened #260 "Ability to detect untested paths"
**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**

3.0.0

**Would this solve a problem or make something easier?**

Solves a problem.

**What would you like to happen?**

Checking that your code is compatible with a schema is helpful, but most people I'd argue are looking to say "I have a level of confidence that my code _implements_ the schema (not just part of it)". At the moment, there is no way to

[2021-12-22 11:55] rwalle61 commented on #260
Thanks @mefellows for suggesting this! Sorry I'm quite busy over the Christmas period so don't have time to look at this properly right now 🎄

My initial thoughts are that this would be a useful feature. The first two things I'd like to think about and check are:
* as you've mentioned, there may be complications if we can't check all paths, and we'd have to be very clear what `expectOASIsSatisfied

[2021-12-22 12:09] rwalle61 commented on #258
Thanks @DetachHead for this and the PR 🎁 Sorry for the delay, I've been very busy but will try to look at this soon.

(I've not run in to this issue before, so would like to recreate and understand it a bit better before I approve. If you can link other examples / articles mentioning this that would speed up my check 🙂)

[2021-12-22 12:17] mefellows commented on #260
I totally understand!

Yes, Dredd will test all paths by default if they have defined examples/schemas. It was using Dredd on a particular project that led me to investigate other tools. As it's a functional testing tool that runs outside of your code base, it's actually a little annoying to test certain use cases. For example, I needed to test an HTTP `500` that also had a body, which meant that

[2021-12-23 01:38] DetachHead commented on #258
[this stackoverflow answer](https://stackoverflow.com/a/46011417) pretty much sums it up, but basically any typescript project that imports `openapi-validator` will fail to compile due to these errors unless you either:
- enable `skipLibCheck` (bad, because it turns off type checking for all `.d.ts` files)
- or track down the missing packages and add them to your own `package.json` (which i've don

[2022-01-02 15:37] rwalle61 commented on #258
Thanks, that SO answer was great and I've managed to recreate this. Are you importing `openapi-validator`

[2022-01-03 14:17] rwalle61 commented on #258
Thanks for the explanation and SO link! I've managed to recreate this. I agree `request` and `superagent` should be prod deps. I found that `axios` is missing, so we should add that too. I'll:
1. merge your PR
2. raise and merge another one for `axios`
3. publish this to npm in a new minor version, check it compiles without errors

### Investigation

(Are you importing `openapi-validator` directly

[2022-01-03 14:27] rwalle61 commented on #258
I'll let you close this after I release this

[2022-01-03 15:06] rwalle61 commented on #258
Published in https://github.com/openapi-library/OpenAPIValidators/releases/tag/v0.14.2, thanks for your help and patience!

Please close this when you've confirmed that 0.14.2 solves your original problem 🙂

[2022-01-03 15:44] rwalle61 commented on #260
Thanks for the clear comparison with Dredd and suggestion on the default behaviour 🙂 an assertion like `expectOASIsSatisfied()` (or `expect(openApiSpec).toBeSatisfied()`) certainly sounds useful.

I'm just wondering if it belongs in this project or a separate one. Here are my thoughts, and I'd like to know what you think:

Currently this project has two assertions:
[code]
(I think people use `toSa

[2022-01-03 23:56] DetachHead commented on #258
yeah i'm just importing `jest-openapi`. looks like the reason i didn't get the axios error was because my project already had axios as a dependency.

just tested it on my project and the errors are gone. thanks! :)

[2022-01-03 23:56] #258 closed

[2022-01-11 08:56] mikicho opened #265 "Support ESM"
**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
All of them

**Would this solve a problem or make something easier?**
Solve a problem

**What would you like to happen?**
I'd be able to import `jest-openpi` in ESM module like this:
[code]

**Describe alternatives you've considered**
use it like this:
[code]

**Additional context or screenshots**

**Are you going to resolve the issue?**
I'd love to, b

[2022-01-17 06:28] mefellows commented on #260
Sorry for my delay in response here, i've been on leave.

Actually something like this was more what I was after. The problem with the other option, is that you then need to build in all sorts of hooks etc. to give the caller options to setup state before/after any request (e.g. to mock/stub other components to elicit different responses). At this point, you'll be building something like Dredd.

T

[2022-01-17 11:20] rwalle61 commented on #265
hey @mikicho thanks for suggesting this 🙂 I'm not sure what we need to do to import `jest-openapi` in an ESM module. Happy for you to suggest how it should be done, if you have time and know how to.

Otherwise I will look at it later (but can't right now as I'm quite busy at work)

[2022-01-17 16:10] mikicho commented on #265
I'll try to figure it out

[2022-01-25 15:12] asafMasa commented on #257
any progress on the oneOf issues?

[2022-01-25 15:21] asafMasa commented on #257
I have similar problem with the following:

    received did not satisfy it because: response must match exactly one schema in oneOf

    received contained: { body: { id: 'e1b051bf-e12e-4c1f-a257-f9de2de8bbfb' } }

    OpenAPI:
    The '201' response defined for endpoint 'POST /jobs/{myId}/foos' in API spec: {
      '201': {
        description: 'Foo created successfully',
        content: {

[2022-02-03 10:42] Stedelie opened #268 "Invalid OpenAPI spec"
**Are you using jest or chai**?
Jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
Openapi 3.0

**Describe the bug clearly**
I'm using swaggerJSDoc and swagger-ui as interface to access the documentation in my express server. That works fine.
Here's how I generate the documentation from all the .yaml file in my project:

[code]

Now, the problem is that when I use `jestOpenAPI` for my tests it on

[2022-03-07 05:15] AK3030 opened #272 "TypeError: The "url" argument must be of type string. Received undefined"
**Are you using jest or chai**?
Jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
3.0.X

**Describe the bug clearly**
TypeError: The "url" argument must be of type string. Received undefined

      48 |     console.log('response', response)
      49 |

         |                      ^
      51 |     // console.log('response', response)
      52 |     // expect(response.data).toSatisfySchemaInAp

[2022-03-07 10:42] rwalle61 commented on #272
Hi @AK3030, thanks for raising this 🙂 this is strange - we have [tests covering axios](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/jest-openapi/__test__/matchers/toSatisfyApiSpec/differentRequestModules.test.ts#L139). The error is thrown from [here](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/openapi-validator/lib/utils/common.utils.ts#L1

[2022-03-07 10:51] rwalle61 commented on #257
Sorry I don't have time to investigate this further, happy for someone else to take a closer look 🙂 we parse the OpenAPI spec and pass the schemas to a [3rd party validator](https://github.com/openapi-library/OpenAPIValidators/blob/master/packages/openapi-validator/lib/classes/AbstractOpenApiSpec.ts#L138) (openapi-response-validator) so it would be good to confirm if the bug is in our code or thei

[2022-03-09 07:24] AK3030 commented on #272
I actually found the solution here: https://github.com/openapi-library/OpenAPIValidators/issues/228

I changed the jest environment to node and it fixed the issue.

[2022-03-28 09:07] Zubnix opened #275 "False positive when validating with schema type: string and format: binary"
**Are you using jest or chai**?
Jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
3.0.x

**Describe the bug clearly**
Verification fails when using binary string format, incorrectly expects plain string.

**Steps to reproduce the bug:**
1. Define an openapi (response) spec with
[code]
2. Return binary data.
3. See error (please paste error output or a screenshot)

[code]

**What did you expect t

[2022-04-06 14:27] charlottebrady opened #277 "format: uuid not being validated in tests"
**Are you using jest or chai**?
Jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
OpenAPI 3.0.0

**Describe the bug clearly**
Documentation describing schemas with properties that have
`type: string`
`format: uuid`
Are not validating if the returned response is a valid uuid (rather just accepting any string).

**Steps to reproduce the bug:**
1. Define schema for an API response to contain a prop

[2022-04-13 16:11] andrejsmogrovic opened #278 "Cypress - plugin import error"
After adding the plugin to the cypress:
 `const chai = require('chai')
 const chaiResponseValidator = require('chai-openapi-response-validator');
 chai.use(chaiResponseValidator('data.json'));`

 I got an error:

[code]

[2022-04-16 08:41] rwalle61 commented on #278
Thanks @andrejsmogrovic, would you mind posting the stack trace too please?

Does the plugin work outside of cypress for you?

[2022-04-16 08:44] rwalle61 commented on #277
Thanks @charlottebrady! Sounds like a missing feature on our part. Do you have a link to a reproduction?

I don't have much time to implement this now unfortunately but may be able to point you / someone in the right direction, if you like 🙂

[2022-04-16 08:50] rwalle61 commented on #275
Thanks @Zubnix! Would you posting a reproduction link / example of how you receive a response as a Buffer? Then I can check the code and point you / someone else in the right direction 🙂

[2022-04-16 10:05] andrejsmogrovic commented on #278
Yes, It works outside the cypress framework (chai + mocha).

Inside cypress, It looks like the fs.read has problems with the plugin itself. After import, it fails.

I also tried to Load the OpenAPI object inside the code. (defined in the readme.md file, point 2.From an object). But with the same result.

Stack Trace:
[code]

[2022-04-21 21:01] #217 closed

[2022-04-27 05:51] DetachHead opened #279 "declaration maps and source maps are included in published packages but source code isn't"
**Are you using jest or chai**?
n/a

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
n/a

**Describe the bug clearly**
`declarationMap` and `sourceMap` are enabled in `tsconfig.json` https://github.com/openapi-library/OpenAPIValidators/blob/9511b66efb9f03a923caffd86eb66ede015defc3/tsconfig.json#L47-L49

but the source code isn't included in the published packages, even though the `.d.ts.map` and `.j

[2022-04-27 06:45] andrejsmogrovic commented on #278
@rwalle61 I have resolved the issue, and the plugin is working fine with the cypress framework.

I have loaded the library via node, and created the task in the cypress. (Pure JavaScript).

Then, I have parsed cy.request response, and build a new one, so it looks like axios object.

[2022-04-27 06:45] #278 closed, assigned to nobody

[2022-05-11 14:40] balazsbencs-sc commented on #275
I also have the same issue with this in a Nest project: I have an endpoint generating a PDF and in the controller I do nothing else just returning a StreamableFile. This StreamableFile gets the input as a Buffer from puppeteer - pretty simple setup.
When running test again the openapi documentation using supertest, in the console it prints out as a buffer. See examples below from my code:

[code]

[2022-06-12 10:05] syncush commented on #226
@rwalle61
Hey, I am encountering the same issue, any ETA for merging #271 ?

[2022-10-13 17:22] ghost opened #285 "Property 'toSatisfyApiSpec' does not exist on type 'Matchers<void, Response>'"
**Are you using jest or chai?**
jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
3.0

**Describe the bug clearly**
Following the example for using `jest-openapi` when running the tests I get this message:
[code]

The environment is node 16.x running inside a docker container, configured as Typescript 4.8.x, ESM, and jest 27.x

**Steps to reproduce the bug:**
* Install the library with `yarn add

[2022-11-09 16:48] aradbar opened #286 "`toSatisfyApiSpec` doesn't recognize `:` in path that is not a parameter"
**Are you using jest or chai**?
jest

**Are you using OpenAPI 2, 3.0.X, or 3.1.0?**
3.0.3

**Describe the bug clearly**
When having a path that contains a hard-coded `:` in it (that does not signify a parameter) `toSatisfyApiSpec` still treats it as a parameter and ignores the text after the `:`. that causes a mixup between different paths.

**Steps to reproduce the bug:**
1. Have a spec with two